#hero {
    position: relative;
    flex-direction: row;
    background-color: var(--bg);
    color: var(--fg);
    justify-content: flex-start;
    display: flex;
    padding-top: 0;
}

#hero h1 {
    font-size: 5rem;
    margin-bottom: 0rem;
    text-align: center;
}

#hero h1 .no-bold {
    font-weight: normal;
}

#hero .hero-right {
    align-self: left;
    flex-shrink: 0;
    height: 35rem;
    width: 50%;
    background-image: url("../img/tb-ed-talks/john_giving_a_talk.jpg");
    background-size: cover;
}

.hero-right::before {
    content: '';
    z-index: 1;
    width: 50%;
    height: 35rem;
    display: block;
    position: absolute;
    background: linear-gradient(90deg, var(--bg) 1%, rgba(0, 0, 0, 0) 50%);
}

#hero .hero-left {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 40%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-description {
    text-align: center;
    width: 80%;
}

#next-up {
    background: var(--accent-blue);
    color: var(--bg);
    margin: 0 auto;
    padding: 2rem 0;
    padding-bottom: calc(4rem + 0.7rem);

}

.up-next-block {
    background: var(--bg);
    color: var(--fg);
    display: block;
    border: 3px solid var(--fg);
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin: 0 auto 0.675rem;
    max-width: 1100px;
}

.up-next-block p {
    margin-top: 0.2rem;
}

.split {
    display: flex;
    flex-direction: row;
}

.split-right {
    width: 60%;
    margin: 0 auto;
}

.split-left {
    width: 40%;
    padding: 1rem 1rem;
    display: flex;
}

.split-left img {
    align-self: center;
    width: 100%;
    border-radius: 100%;

    border: 3px solid var(--fg);
}

.youtube-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.youtube-wrapper .video-embed-shadow {
    margin: 0 auto;
}

#chloe .youtube-wrapper .thumbnail-preview {
    background: url(../img/tb-ed-talks/chloe-thumbnail.png);
    background-size: cover;
}

#carole .youtube-wrapper .thumbnail-preview {
    background: url(../img/tb-ed-talks/carole-thumbnail.jpg);
    background-size: cover;
}

#stijn .youtube-wrapper .thumbnail-preview {
    background: url(../img/tb-ed-talks/stijn-thumbnail.jpg);
    background-size: cover;
}

#year-in-tb-2025 .youtube-wrapper .thumbnail-preview {
    background: url(../img/tb-ed-talks/2025-year-in-tb-thumbnail.jpg);
    background-size: cover;
}

#salmaan .youtube-wrapper .thumbnail-preview {
    background: url(../img/tb-ed-talks/stp-thumbnail.jpg);
    background-size: cover;
}

#feb-bonus .youtube-wrapper .thumbnail-preview {
    background: url(../img/tb-ed-talks/tb-101.jpg);
    background-size: cover;
}

.up-next-block#chloe .split-left img,
.up-next-block#chloe {
    box-shadow: var(--aside-shadow-green);
}

.up-next-block#carole .split-left img,
.up-next-block#carole {
    box-shadow: var(--aside-shadow-yellow);
}

.up-next-block#stijn .split-left img,
.up-next-block#stijn {
    box-shadow: var(--aside-shadow-lblue);
}

.up-next-block#year-in-tb-2025 .split-left img,
.up-next-block#year-in-tb-2025 {
    box-shadow: var(--aside-shadow);
}

.up-next-block#salmaan .split-left img,
.up-next-block#salmaan {
    box-shadow: var(--aside-shadow-green);
}

#past-talks {
    padding: 2rem 0;
    padding-bottom: calc(4rem + 0.7rem);
}

@media only screen and (max-width: 768px) {
    #hero {
        height: 25rem;
    }

    #hero .hero-right {
        height: 25rem;
        width: 100%;
        position: absolute;
        background-size: cover;
    }

    #hero h1 {
        font-size: 4.5rem;
    }

    #hero-description {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .hero-right::before {
        width: 100%;
        height: 25rem;
        background: linear-gradient(0deg, var(--bg) 1%, rgba(252, 243, 227, 0.75) 50%, rgba(252, 243, 277, 0.5) 100%);
    }

    #hero .hero-left {
        z-index: 2;
        width: 90%;
    }

    .up-next-block {
        padding: 0.5rem 1rem;
    }

    .split {
        flex-direction: column;
        gap: 0.5rem;
    }

    .split-right {
        width: 100%;
        margin: 0 auto;
    }

    .split-left {
        width: 100%;
    }

    .up-next-block h3 {
        margin-bottom: 0;
    }

    .byline {
        font-size: 1.25rem;
    }
}
