.popup {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
	background-color: white;
	padding: 20px;
	background: var(--bg);
	border: 2px solid var(--accent-bg);
	border-radius: 0.3em;
	width: 20em;
	height: 20em;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

.popup-content button {
	margin-left: 0.0em
}

#close:after {
	content: "\00d7";
}

#close {
	background: none;
	border: none;
	color: #121212;
	font-size: 1.5em;
	width: unset;
	padding: unset;
	transform-origin: top right;
	height: min-content;
	float: right;
}

#close:hover {
	color: var(--accent-bg);
}


.show-popup {
	display: block;
}
