/*
 * CSS ONLY FOR THE ACTION PAGE
 * */

.action-icon {
    height: 1.5em;
    vertical-align: bottom;
    margin-right: 0.5em;
}

.action p.larger {
    font-size: 1.5em;
}

.action-grid-large {
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-basis: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* ACTIONS GRID */
.action-grid-large .action {
    display: inline-block;
    margin: 1em 0em;
    vertical-align: top;
    flex: 1 1 0px;
}

/* MOBILE STYLES */

@media only screen and (max-width: 992px) {
    .action-grid-large {
        flex-direction: column;
        gap: 1em;
    }

    .action-grid-large .action {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: auto;
    }
}

/* Campaigns */
.campaign {
    border: 2px white solid;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.campaign h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.campaign .campaign-inner {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.campaign .description {
    width: 50%;
}

.campaign.danaher {
    border-color: var(--accent-light-blue);
    background-color: rgba(245, 245, 245, 0.75);
    background-image: url(./img/danaher/red-crystal.gif);
    background-size: cover;
    background-blend-mode: color;
}

.campaign.funding-cuts {
    border-color: var(--accent-yellow);
    background-color: rgba(245, 245, 245, 0.95);
    background-image: url(./img/funding-cuts/red-bacteria.png);
    background-size: cover;
    background-blend-mode: color;
    background-position: center center;
}

.campaign.hill-day {
    border-color: var(--accent-green);
    background-color: rgba(245, 245, 245, 0.85);
    background-image: url(./img/hill-day/hill-day-placeholder.jpg);
    background-size: cover;
    background-blend-mode: color;
    background-position: center center;
}


@media only screen and (max-width: 992px) {
    .campaign .campaign-inner {
        flex-direction: column;
    }

    .campaign .description {
        width: 100%;
    }
}
