#petition-wrapper {
	background-image: url('./img/petition header 1.png');
	background-position: center;
	background-size: cover;
	color: #F5F5F5;
	text-shadow: #121212 1px 1px 10px;
}

#petition-wrapper .action{
	margin-left: 40%;
	max-width: 40%;
}


@media only screen and (max-width: 992px) {
	#petition-wrapper {
		background: #3c3f60;
	}

	#petition-wrapper div div {
		margin: 0 1em;
		width: auto;
		max-width: none;
	}
}
