.main {
	max-width: 900px;
	margin: 0 auto;
}

.block {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #DDDDDD;
	margin-bottom: 20px;
	box-shadow: var(--aside-shadow);
}


button {
	display: inline-block;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: .5em;
	border-radius: 0.5em;
	padding: 0.6em 1em;
	text-decoration: none;

	background-color: #BC1C1A;
	border: 4px solid #BC1C1A;
	color: #F5F5F5;
	margin: 0.5em 0;
	transition: all 0.2s ease-in-out;

	margin: 0.125em 0.5em;
	width: 200px;
	padding: 0.5em 0.8em;
	font-weight: 700;
}

button:hover {
	background-color: #121212;
	border-color: #121212;
}

.block .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.toc {
	padding-bottom: 5%;
}

img.letter {
	border: 2px solid #BC1C1A;
	margin: 20px;
	box-shadow: 0.1em 0.1em 1em rgb(0 0 0 / 60%);
}

@media only screen and (max-width: 768px) {
	.main {
		padding-left: 10px;
		padding-right: 10px;
	}

	img.letter {
		margin-left: auto;
		margin-right: auto;
	}

	.block button {
		margin: 0.125em 0.125em;
	}
}
