section {
	max-width: 900px;
	margin: 0 auto;
}

button {
	display: inline-block;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: .5em;
	border-radius: 0.5em;
	padding: 0.6em 1em;
	text-decoration: none;

	background-color: var(--accent-bg);
	border: 4px solid var(--accent-bg);
	color: var(--bg);
	margin: 0.5em 0;
	transition: all 0.2s ease-in-out;

	margin: 0.125em 0.5em;
	width: 200px;
	padding: 0.5em 0.8em;
	font-weight: 700;
}

button:hover {
	background-color: var(--fg);
	border-color: var(--fg);
}

.block .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.toc {
	padding-bottom: 5%;
}

img.letter {
	border: 2px solid var(--accent-bg);
	margin: 20px;
	box-shadow: 0.1em 0.1em 1em rgb(0 0 0 / 60%);
}

/* MOBILE STYLES */

@media only screen and (max-width: 768px) {
	section {
		padding-left: 10px;
		padding-right: 10px;
	}

	img.letter {
		margin-left: auto;
		margin-right: auto;
	}

	.block button {
		margin: 0.125em 0.125em;
	}
}
