/*
 * CSS ONLY FOR THE INDEX PAGE
 * */

/* ===============
 * GENERAL
 * =============== */

.homepage .container {
    display: flex;
    padding: 60px 0;
    justify-content: space-around;
    flex-direction: column;
    background-size: cover;
}

/* End of General */

/* ===============
 * HEADER
 * =============== */

#header .wrapper {
    max-width: 90%;
}

#header h2 {
    text-transform: uppercase;
    font-size: 4.7em;
}

#header {
    position: relative;
    padding: 3em 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--accent-bg);
    color: var(--bg);
    z-index: 3;
}

/* Image */

#header .image {
    width: 40%;
    display: flex;
    justify-content: center;
}

#header .image img {
    height: 100%;
}

/* Featured Action */

.featured-action {
    width: 100%;
    padding: 2em 4em;
    background-color: var(--bg2);
    color: var(--fg);
    border-radius: 10px;
    margin: 5em 1em;
    margin-bottom: 0;
}

.featured-action h3 {
    text-align: center;
}

/* End of Header */

/* ===============
 * INFO SECTION
 * =============== */

.info-sections {
    height: 100%;
    position: relative;
    z-index: 1;
}

.info-sections .wrapper {
    max-width: 85%;
    height: auto;
    background: var(--bg);
    margin: auto;
    font-size: 1.2em;
    padding: 3em 3em;

}

/* Background */

.info-sections::before {
    content: "";
    position: absolute;
    z-index: 1;
    background: url(./img/paper-texture.jpg);
    background-position: left top;
    background-size: cover;
    mix-blend-mode: overlay;
    filter: grayscale(100%);
    opacity: 80%;
    width: 100%;
    height: 100%;
    left: 0;
}

#deadliest-infectous-disease {
    padding-top: 180px;
}

#we-are-tbfighters {
    padding-bottom: 180px;
}

#deadliest-infectous-disease::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #f5c14a;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}

#why-does-it-kill::before {
    content: "";
    position: absolute;
    z-index: -2;
    background: #003049;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}

#we-are-tbfighters::before {
    content: "";
    position: absolute;
    z-index: -3;
    background: #42aa8b;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
}

#we-are-tbfighters::after {
    content: "";
    position: absolute;
    z-index: -4;
    background: #4691ce;
    width: 100%;
    height: 50%;
    transform: translateY(50%);
}

#we-are-tbfighters .wrapper {
    background-image: url(/img/homepage/we-are-tbfighters.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: 5;
}

#we-are-tbfighters .wrapper::before {
    z-index: 6;
    content: "";
    position: absolute;
    z-index: 1;
    background: var(--bg);
    opacity: 25%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Content */

.content {
    width: 60%;
}

#we-are-tbfighters .content {
    text-align: center;
    width: auto;
    margin: 1.5em 1.5em;
    padding: 1.5em 1.5em;
    background: var(--bg);
    position: relative;
    z-index: 7;
}


/* End of Info Section */

/* ===============
 * STATEMENT
 * =============== */

#statement {
    background-color: var(--accent-bg);
    color: var(--bg);
    position: relative;
    z-index: 1;
}

#statement .wrapper {
    padding: 5em 3em;
    max-width: 85%;
    text-align: center;
}

#statement h3 {
    font-size: 5em;
    margin-bottom: 0;
}

/* End of STATEMENT */

/* ===============
 * TAKE ACTION
 * =============== */

#join::after {

    content: "";
    position: absolute;
    z-index: 1;
    background: var(--bg);
    width: 100%;
    height: 100%;

}

/* End of Take Action */
