/*
 * CSS ONLY FOR THE INDEX PAGE
 * */

/* ===============
 * GENERAL
 * =============== */

.homepage .container {
    display: flex;
    padding: 60px 0;
    justify-content: space-around;
    flex-direction: column;
    background-size: cover;
}

/* End of General */

/* ===============
 * HEADER
 * =============== */

#header .wrapper {
    max-width: 90%;
    margin-top: 1em;
}

#header h1 {
    text-transform: uppercase;
    font-size: 4.7em;
}

#header {
    position: relative;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    color: var(--fg);
    z-index: 3;
    justify-content: flex-start;
}

#header .join-left {
    z-index: 0;
    display: flex;
    width: 40%;
}

#header .join-right {
    z-index: 1;
    width: 60%;
}

/* Image */

.bacteria-photo {
    display: flex;
    justify-content: center;
}

.bacteria-photo img {
    align-self: center;
    border-radius: 20px;
    box-shadow: 0.1em 0.1em 1em rgb(10 10 10 / 35%), var(--aside-shadow-far);
    width: 90%;
    flex-shrink: 0;
}

#header .tablet {
    display: none;
}

#header .mobile:not(.desktop) {
    display: none;
}

@media only screen and (max-width: 1440px) {
    #header .join-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header h1 {
        font-size: 3em;
    }
}


@media only screen and (max-width: 1024px) {
    .bacteria-photo {
        display: none;
    }

    #header .join-right {
        width: 100%;
    }

    #header .join-left {
        width: 0%;
    }

    #header {
        overflow-x: clip;
    }

    #header .wrapper {
        flex-direction: column-reverse;
    }

    #header h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px) {
    div.featured {
        font-size: 1rem;
    }
}

/* End of Header */

/* ===============
 * INFO SECTION
 * =============== */

.info-sections {
    height: 100%;
    position: relative;
    z-index: 1;
    background: var(--accent-blue);
}

.info-sections .wrapper {
    /* max-width: 95%; */
    width: 95%;
    max-width: 1200px;
    height: auto;
    background: var(--bg);
    margin: auto;
    font-size: 1.3em;
    padding: 3em 3em;
    border-radius: 0.5em;
    border: var(--aside-border);
}

#first .wrapper {
    box-shadow: var(--aside-shadow-lblue);
}

#second .wrapper {
    box-shadow: var(--aside-shadow-green);
}

#second {
    padding-bottom: 4em;
}

.info-sections .container {
    padding: 2em 0;
}

/* Content */

.content {
    width: 70%;
}

.image {
    width: 30%;
}

.image img {
    height: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle
}

@media only screen and (max-width: 1440px) {
    .info-sections .wrapper {
        font-size: 1em;
        width: 90%
    }

}

@media only screen and (max-width: 768px) {
    .info-sections .wrapper {
        font-size: 1em;
        width: 90%;
        padding: 1em 1em;
    }

    .info-sections .wrapper-columns {
        flex-direction: column-reverse;
    }

    #why-does-it-kill .wrapper-columns {
        flex-direction: column;
    }

    .image {
        width: auto;
        display: flex;
        justify-content: center;
    }

    #why-does-it-kill img {
        width: 70%;
        height: auto;
        margin-bottom: 2em;
    }

    .content {
        width: 100%;
    }

    .content p {
        font-size: 1.1em;
    }


    #we-are-tbfighters .content {
        margin: 0em 0em;
    }

    #we-are-tbfighters .wrapper {
        padding: 1em 1em;
        background-attachment: unset;
    }
}

/* End of Info Section */

/* ===============
 * STATEMENT
 * =============== */

#statement {
    background-color: var(--accent-bg);
    color: var(--bg);
    position: relative;
    z-index: 1;
}

#statement .wrapper {
    padding: 5em 3em;
    max-width: 85%;
    text-align: center;
}

#statement p {
    font-size: 5em;
    margin-bottom: 0;
	font-weight: 700;
}

#statement p.mobile {
    display: none;
}

@media only screen and (max-width: 1440px) {
    #statement p {
        font-size: 4em;
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #statement p.desktop {
        display: none;
    }

    #statement p.mobile {
        display: block;
        font-size: 4em;
        max-width: 100%;
    }

    #statement .wrapper {
        padding: 5em 0em;
    }
}

/* End of STATEMENT */

/* ===============
 * TAKE ACTION
 * =============== */

#join::after {

    content: "";
    position: absolute;
    z-index: 1;
    background: var(--bg);
    width: 100%;
    height: 100%;

}

#join {
    position: relative;
    z-index: 2;
}

#join h3 {
    font-size: 3.5em;
}

#join .wrapper {
    max-width: 90%;
}

.center {
    text-align: center;
}

.campaigns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.campaign {
    display: flex;
    flex-direction: column;
    width: 90%;
    vertical-align: top;
    font-size: 1.1em;
    border: var(--aside-border);
    border-radius: 0.5em;
    padding: 1.2em 0.8em;
}

#danaher {
    box-shadow: var(--aside-shadow-lblue);
}

#funding-cuts {
    box-shadow: var(--aside-shadow-green);
}

#hill-day {
    box-shadow: var(--aside-shadow-yellow);
}

.campaign h4 {
    margin: 0 0;
}

.campaign .buttons {
    margin-top: auto;

}

.campaign img {
    height: 1.5em;
    vertical-align: bottom;
    margin-right: 0.5em;
}

#join .join-community h3 {
	font-size: 2.5em;
}
.join-community {
    font-size: 1.1em;
    width: 80%;
    margin: auto auto;
	padding-top: 2em;
}

.communities {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2em;
}

.community {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: calc(50% - 2em);
    vertical-align: top;
    font-size: 1em;
    border: var(--aside-border);
    border-radius: 0.5em;
    padding: 1.2em 0.8em;
}

.community a {
    margin-top: auto;
    width: fit-content;
}

@media only screen and (min-width: 1250px) {
	.campaigns {
		flex-direction: row;
		align-items: stretch;
	}
}

@media only screen and (max-width: 1024px) {
    .join-community {
        width: 100%;
    }

    .campaign {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .communities {
        flex-direction: column;
    }

    .community {
        width: 100%;
    }
}

/* End of Take Action */

.site-foot {
    position: relative;
    z-index: 2;
}