/*
 * CSS ONLY FOR THE RESOURCES PAGE
 * */

/* ===============
 * GLOSSARY
 * =============== */

table caption {
	text-align: inherit;
}

table th {
	color: var(--bg);
	background-color: var(--fg);
}

.glossary-list {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
}

.glossary-list tr td,
.glossary-list tr th {
	padding-bottom: 1em;
	padding: 0.5em 0.5em;
}

.glossary-list tr {
	vertical-align: top;
}

.glossary-list tr:nth-child(odd) {
	background: var(--bg2);
}

/* MOBILE STYLES */

@media only screen and (max-width: 900px) {
	.glossary-list tr td {
		display: block;
	}

	.glossary-list thead {
		display: none;
	}
}

/* ==== END OF GLOSSARY ==== */

/* ===============
 * ORG LOGOS
 * =============== */

.wrapper-logo-grid {
    vertical-align: top;
}

.grid-one-logo {
    padding: 1em;
    text-align: center;
    width: 250px;
    display: inline-block;
    vertical-align: top;
}

.grid-one-logo img {
    max-width: 200px;
}

.grid-one-logo p {
    font-size: 1em;
}

/* ==== END OF ORG LOGOS ==== */
