/* resets */
* {
	margin: 0px;
}

html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Disables smooth scrolling if the user has enabled reduced motion for accessibility reasons. */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* body and general */
body {
	background-color: #F5F5F5;
	font-size: calc(8px + 0.6em);
	line-height: 1.1em;
	color: #121212;
	font-family: 'Atkinson Hyperlegible';
	font-weight: 400;
	width: 100%;
	padding: 0;
	margin: 0;
}

a {
	color: #0981D6;
	font-weight: 700;
	text-decoration: underline;
}

a:hover,
a:active,
a:focus {
	color: #0C568A;
}


/* font styles */
.red {
	color: #D7211E;
}

h1 {
	font-size: 5.0em;
	text-transform: uppercase;
}

h2 {
	font-size: 2.5em;
}

h1,
h2,
h3 {
	line-height: 1em;
	margin-top: 0;
	margin-bottom: 0.6em;
}

.wrap-centered {
	text-align: center;
}

.wrapper p {
	font-size: 1.4em;
	line-height: 1.1em;
	margin-bottom: .6em;
}

.button {
	display: inline-block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 12px 18px;
	text-decoration: none;
}


/* top bar */
.sticky {
	width: 100%;
	background-color: #D7211E;
	color: #000000;
	text-align: center;
	font-size: 1.25em;
	font-weight: 700;
	vertical-align: middle;
}

.sticky div {
	display: inline-block;
	padding: .6em;
}

.sticky-button {
	background-color: #D7211E;
	border: 4px solid #000000;
	color: #000000;
	transition: all 0.2s ease-in-out;
}

.sticky-button:hover,
.sticky-button:active,
.sticky-button:focus {
	color: #FFFFFF;
	border-color: #FFFFFF;
}


/* section containers */
.container {
	display: block;
	width: 100%;
	padding: 60px 0px;
	background-repeat: no-repeat;
	padding-top: 25vh;
	padding-bottom: 25vh;
}


/* wrappers general */
.wrapper {
	margin: 0 auto;
	display: block;
	width: 99.9%;
	max-width: 900px;
	clear: both;
	position: relative;
	z-index: 10;
}

.wrapper .button {
	background-color: #D7211E;
	border: 4px solid #D7211E;
	color: #121212;
	font-size: 1.4em;
	margin: .5em 0;
	transition: all 0.2s ease-in-out;
}

.wrapper .button:hover,
.wrapper .button:active,
.wrapper .button:focus {
	background-color: #F5F5F5;
	color: #D7211E;
	border-color: #D7211E;
}


@keyframes bob {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-10px);
	}

	100% {
		transform: translatey(0px);
	}
}


/* specific section wrappers */
#top {
	padding-top: 15vh;
}

#top .fa-arrow-down:before {
	font-size: 3.0em;
	color: #121212;
}

#top .fa-arrow-down {
	animation: bob 2s ease-in-out infinite;
}

.scroll-arrow {
	margin-top: 10vh;
}

#top .wrapper p {
	font-size: 2em;
	line-height: 1.1em;
}

#primer {
	background-image: url('img/crystal-all-white.jpg');
	background-attachment: fixed;
	background-position: left center;
}

#curability {
	background-image: url('img/drug-crystals.jpg');
	background-attachment: fixed;
	background-position: center;
}

#danaher {
	background-image: url('img/danaher-lungs.jpg');
	background-attachment: fixed;
	background-position: right center;
}

#profits {
	background-image: url('img/money-all-white.jpg');
	background-attachment: fixed;
	background-position: left center;
}

#join {}

#join h2 {
	font-size: 5.0em;
	text-transform: uppercase;
}

#more {
	background-image: url('img/helix-fade.png');
		background-attachment: fixed;
		background-position: left center;
}


/* images */
.wrap-image .image {
	width: 400px;
	height: 400px;
	background-color: #666666;
}

.image-left {
	float: left;
	margin-right: 30px;
}

.image-right {
	float: right;
	margin-left: 30px;
}


/* footer */
.site-foot {
	width: 100%;
	color: #505050;
	text-align: center;
	font-size: 1em;
	padding: .5em;
}

.footer-link {
	color: #505050;
}

.too-small {
	font-size: 0.6em;
}

/* mobile styles */
@media only screen and (min-width: 993px) {
	.wrapper {
		max-width: 900px;
	}
}

@media only screen and (max-width: 992px) {
	.wrapper {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 14px;
	}

	.sticky div {
		padding: .3em;
	}

	.button {
		padding: 6px 12px;
		border-width: 2px;
	}
}

@media only screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
}