/*
 * CSS ONLY FOR THE TIMELINE PAGE
 * */

.container-timeline .wrapper-full {
	display: flex;
	gap: 2em;
	flex-direction: row;
}

.container-timeline .date {
	width: 20%;
}
.container-timeline .date h2 {
	font-size: 1.5em;
	line-height: 1.5em;
}

.container-timeline .item {
	width: 90%;
}

.container-timeline:nth-child(even) {
	background-color: var(--bg2);
}


/* MOBILE STYLES */

@media only screen and (max-width: 900px) {

	.container-timeline .wrapper-full,
	.container-timeline:nth-child(odd) .wrapper-full {
		flex-direction: column;
		gap: 0em;
	}

	.container-timeline .date {
		width: 100%;
		text-align: left;
	}

	.container-timeline .item {
		width: 100%;
	}
}
