.docs .main {
	max-width: 900px;
	margin: 0 auto;
}

.docs .block {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	background-color: #DDDDDD;
	margin-bottom: 20px;
	box-shadow: var(--aside-shadow);
}


.docs button {
	display: inline-block;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: .5em;
	border-radius: 0.5em;
	padding: 0.6em 1em;
	text-decoration: none;

	background-color: #BC1C1A;
	border: 4px solid #BC1C1A;
	color: #F5F5F5;
	margin: 0.5em 0;
	transition: all 0.2s ease-in-out;

	margin: 0.125em 0.5em;
	width: 200px;
	padding: 0.5em 0.8em;
	font-weight: 700;
}

.docs button:hover {
	background-color: #121212;
	border-color: #121212;
}

.docs .block .buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

.docs .toc {
	padding-bottom: 5%;
}

.docs img.letter {
	border: 2px solid #BC1C1A;
	margin: 20px;
	box-shadow: 0.1em 0.1em 1em rgb(0 0 0 / 60%);
}

@media only screen and (max-width: 768px) {
	.docs .main {
		padding-left: 10px;
		padding-right: 10px;
	}

	.docs img.letter {
		margin-left: auto;
		margin-right: auto;
	}

	.docs .block button {
		margin: 0.125em 0.125em;
	}
}

/* header links */
.header-copy {
	height: 0.8em;
	width: 1em;
	position: absolute;
	transform: translate(-1.5em, 0);
	opacity: 0;
}

.header-copy::after {
	content: url("../img/link.svg");
}

h3:hover>.header-copy {
	opacity: 1;
}

.header-copy:hover::after {
	content: url("../img/link-hover.svg");
	opacity: 1;
	cursor: pointer;
}

.header-copy noscript a {
	width: 100%;
	height: 100%;
	display:block;
	position: absolute;
}
