.books {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 2%;
}

.book {
    max-width: calc(25% - 2%);
    padding-bottom: 4%;
}

@media only screen and (max-width: 992px) {
    .book {
        max-width: calc(50% - 2%);
    }
}

.book img {
    width: 100%;
    border: 3px solid var(--bg2);
    border-radius: 5px;
    box-shadow: var(--regular-shadow);
}

#prev .book img {
    width: 75%;
}

#current img {
    border-color: var(--accent-green);
}

.book h4 {
    margin-bottom: 0.1em;
}

.book .date {
    font-size: 1.2em;
}


.spaces {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 2%;
}

.space {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    max-width: calc((100%/3) - 2%);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--bg);
    margin-bottom: 20px;
    border: var(--aside-border);
}

.space a {
    margin-top: auto;
}

#discord {
    box-shadow: var(--aside-shadow-dblue);
}

#social {
    box-shadow: var(--aside-shadow-lblue);
}

#general {
    box-shadow: var(--aside-shadow);
}

@media only screen and (max-width: 992px) {
    .space {
        max-width: calc(100% - 2%);
    }
}
