.featuring {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 2%;
}

.featuring .person {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    max-width: calc((100%/2) - 2%);
    border-radius: 5px;
    padding: 20px;
    /* background-color: var(--bg2); */
    margin-bottom: 20px;
    /* box-shadow: var(--aside-shadow); */
}

.featuring img {
    width: 75%;
    border: 3px solid var(--bg2);
    border-radius: 5px;
    box-shadow: var(--aside-shadow);
    margin: auto;
    margin-bottom: 0.5em;
}

.featuring .about {
    font-size: 0.9em;
}

@media only screen and (max-width: 992px) {
    .featuring .person {
        max-width: calc(100% - 2%);
    }

    .featuring img {
        width: 100%;
    }
}
