#hero {
    position: relative;
    flex-direction: row;
    background-color: var(--accent-green);
    color: var(--fg);
    justify-content: flex-start;
    display: flex;
    padding-top: 0;
    height: 35rem;
    justify-content: center;
    align-items: center;
}

.hero-inner {
    display: block;
    background-color: var(--bg);
    border: 3px solid var(--fg);
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
}

.hero-inner h1 {
    font-size: 5rem;
    margin-bottom: 0rem;
    text-align: center;
}

article {
    background-color: var(--bg);
    border: 3px solid var(--fg);
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}

.split img {
    height: 20vw;
    border: 3px solid var(--fg);
    border-radius: 0.5rem;
    box-shadow: var(--aside-shadow-green);
}

.youtube-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.youtube-wrapper .video-embed-shadow {
    margin: 0 auto;
}

#eitb-1 .thumbnail-preview {
    background: url("../img/book-club/eitb-thumbnail-1.jpg");
    background-size: cover;
}

#eitb-2 .thumbnail-preview {
    background: url("../img/book-club/eitb-thumbnail-2.jpg");
    background-size: cover;
}

#pp-1 .thumbnail-preview {
    background: url("../img/book-club/phantom-plague-thumbnail-1.jpg");
    background-size: cover;
}

#mbm-1 .thumbnail-preview {
    background: url("../img/book-club/mbm-thumbnail.jpg");
    background-size: cover;
}
