<!DOCTYPE html>

<html lang="en">

<head>
	<!--Meta tags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Open Graph Tags-->
	<meta property="og:site_name" content="TBFighters" />
	<meta property="og:url" content="https://tbfighters.org" />
	<meta property="og:type" content="website" />
	<meta property="theme-color" content="#D7211E" />
	<!-- Style Tags -->
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../libs/toastify/toastify.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="icon" type="image/x-icon" href="../img/favicon/favicon.ico">
	<script src="../menu.js" defer></script>
	<script src="../libs/toastify/toastify.js"></script>
	<!-- Variable Tags -->
	<meta name="robots" content="index, follow" />
	<meta property="og:title" content="End TB Now Act | TBFighters" />
	<meta property="og:description" content="Take action to get the End TB Now Act passed!" />
	<meta name="description" content="Fighting for accessible tuberculosis testing and treatment to save over a million lives a year. Take action with us now." />
	<meta property="og:image" content="https://tbfighters.org/img/EndTBNowAct_PreviewImage.png">
   	<meta property="og:image:type" content="image/png">
   	<meta property="og:image:width" content="1200">
   	<meta property="og:image:height" content="630">
	<meta name="twitter:card" content="summary_large_image">

	<link rel="stylesheet" href="../docs.css?q=2" />
	<link rel="stylesheet" href="../actions.css?q=2" />
	<script src="../header-link.js" defer></script>
	<script src="../actions.js" defer></script>
	<title>End TB Now Act | TBFighters</title>

</head>

<body class="letterguide">
	<!--BELOW THIS GETS COPIED TO ALL PAGES WHEN MENU CHANGES (CHANGE BODY CLASS TO PAGE NAME)-->
	<header id="site-head"><a href="#main" class="skip">Skip to main content</a>
		<div class="wrapper-head">
			<h1 class="page-title">
				<a href="../index.html"><span class="black-highlight">TB</span>FIGHTERS</a>
			</h1>
			<a id="hamburger-button" href="#" title="menu"></a>
			<nav class="site-menu">
				<ul class="active">
					<li><a href="../about.html">About Us</a></li>
					<li><a href="../timeline.html">News &amp; Timeline</a></li>
					<li><a href="../resources.html">Resources</a></li>
					<li><a href="../action.html">Take Action</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!--ABOVE THIS GETS COPIED TO ALL PAGES MENU CHANGES-->
	<main id="main">
		<section id="take-action">
			<h1 id="one-click-contact">
				Contact Your Rep <span class="red">With One Click</span>
				<div class="header-copy"><noscript><a href="#one-click-contact"></a></noscript></div>
			</h1>
			<p class="larger">Partners In Health have created tools to help with contacting your Representative! Use this website to quickly and easily <a
					href="https://act.newmode.net/action/partners-health/support-end-tb-now-act"
					target="_blank">call your Representative</a> and go here to <a
					href="https://act.pih.org/end-tb-now-act-2023"
					target="_blank">email your Representative.</a> </p>
			<a class="button" href="https://act.newmode.net/action/partners-health/support-end-tb-now-act"
					target="_blank">Call now!</a>
			<a class="button button-subtle" href="https://act.pih.org/end-tb-now-act-2023"
					target="_blank">Send an email!</a>
			<br>
			<br>
			<h1 id="contacting-your-rep">
				Contact Your Rep Manually
				<div class="header-copy"><noscript><a href="#contacting-your-rep"></a></noscript></div>
			</h1>
			<p class="larger">If you are a U.S. resident, go <a
					href="https://www.house.gov/representatives/find-your-representative"
					target="_blank">here</a> to find your House Representative and how to
				contact them. Below are phone and email scripts and some key information about
				the bill.</p>
			<br>
			<br>
			<h2 id="key-information">
				Key Information
				<div class="header-copy"><noscript><a href="#key-information"></a></noscript>
				</div>
			</h2>
			<p class="larger">The bill number is <strong>H.R.1776.</strong> The End TB Now Act passed the Senate earlier this year, but <strong>we still need it to go through the House of Representatives</strong>! As the 118th Congress is nearing its conclusion, we're asking our Representatives to <stong>call on House Leadership</stong> and request they <stong>include it in the Continuing Resolution on the budget for 2025</stong> or <stong>any other last-minute actions before the end of this Congress</stong>.</p> 
			<br>
			<p class="larger">Tuberculosis <strong>killed 1.25 million people in 2022</strong>, and causes over 10,000 cases annually in the U.S. alone. Passing the bill will prevent <strong>needless deaths from
					tuberculosis around the world</strong> and help <strong>end TB globally</strong>.</p>

		</section>
		<section id="templates">
			<h2 id="templates">
				Templates
				<div class="header-copy"><noscript><a href="#templates"></a></noscript></div>
			</h2>

			<h3 id="phone-script">
				Phone Script
				<div class="header-copy"><noscript><a href="#phone-script"></a></noscript></div>
			</h3>

			<article class="block larger">
				<p>
					Hello, my name is <em>[Name]</em> and I’m a constituent from zip code <em>[#####]</em>. I’m calling to request Representative <em>[Representative's Name]</em> support the bipartisan End Tuberculosis Now Act of 2023 (H.R.1776) by speaking to leadership about attaching this bill to the Continuing Resolution on the budget for 2025 or any other last minute actions before the end of the 118th Congress. This bipartisan reauthorization bill passed the Senate with unanimous consent on September 19, 2024. The House bill (H.R. 1776) is led by Reps. Salazar, Fitzpatrick, Sherman, and Bera and has 95 co-sponsors.
				</p>
				<br>
				<p>I care about this personally because 10 million people fall ill with tuberculosis each year and one-third don’t have access to care. Tuberculosis is the leading infectious disease killer in the world, causing 1.3 million deaths in 2022, and with over 10,000 annual cases in the US. This reauthorizing bill does not include specific appropriations amounts, and lays out key policy goals and targets to end the scourge of tuberculosis, which is preventable, treatable, and curable.</p>
				<br>
				<p>I would appreciate any updates, my phone number is <em>[Number]</em> and my email is <em>[Email Address]</em>. Thank you.
				</p>
			</article>
			<p class="smaller" style="margin-left: 32px;">
				<em>Script adapted from <a
					href="https://act.newmode.net/action/partners-health/support-end-tb-now-act"
					target="_blank">Partners In Health.</a>
				</em>
			</p>
			<h4>
				Tips for Social Anxiety When Calling
			</h4>
			<ol>
				<li>
					Your anxiety is real, and even if it's not logical to be afraid of
					calling you are, and no one can or should deny that.
				</li>
				<li>
					It may be helpful to prepare a script to read directly from, or at least
					plan out what to say. It doesn't have to be as long as the one here.
				</li>
				<li>
					<span>What to expect</span>
					<ol>
						<li>
							When calling with the tool linked above, a short message will read and you'll then be connected to one of your Representative's offices. From there, or if you're calling directly, an aide will pick up. You'll usually receive a short greeting and they'll listen to your message. After that, they may ask some basic clarifying questions and for information like your full name or zip code. Once everything is communicated, they may thank you for your call, and you are done!
						</li>
					</ol>
				</li>
				<li>
					If you have questions or need moral support, Nerdfighteria is happy to
					help &lt;3
				</li>
			</ol>
			<br>
			<h3 id="email-script">
				Email Template
				<div class="header-copy"><noscript><a href="#email-script"></a></noscript></div>
			</h3>
			<p class="smaller">
				<em>Template adapted from <a
					href="https://www.wearetb.com/"
					target="_blank">we are TB.</a>
				</em>
			</p>
			<article class="block larger">
				<div id="email-1">
					<p>
						<em>[Representative's name]</em>
					</p>
					<br>
					<p>My name is <em>[Name]</em> and I am a constituent from <em>[Town, zipcode]</em>. Tuberculosis has impacted millions of people this year alone and I am incredibly concerned about rising cases in the USA and around the world. I am urging <em>[Representative]</em> to PLEASE contact members of Congress on the appropriations committee to include the End TB Now act in the Continuing Resolution on the budget for 2025.</p>
					<br>
					<p>The End TB Now act (H.R.1776) is a reauthorizing bill for USAID’s TB program that has passed the Senate this year and has broad bipartisan support. It’s a fantastic bill that will help USAID continue its lifesaving work around the world. More on the End TB Now act calm be found here: https://results.org/wp-content/uploads/End-TB-Now-Act-One-Pager.pdf. The support of <em>[Representative]</em> means so much to me and my family.</p>
					<br>
					<p style="margin-bottom: 0;">
						Thank you,
					</p>
					<p><em>[Your Name]</em></p>
				</div>
				<br>
				<div class="buttons">
					<button id="copy-opt-1"
						onclick="onclickButton(formatElement(document.getElementById('email-1')))">Copy</button>
				</div>
				<noscript>
					<br>
					<p style="font-style: italic;">Please enable javascript to use the copy
						button.</p>
				</noscript>
			</article>
		</section>
	</main>
	<footer class="site-foot">
		<p class="socials-wrapper-centered">
			<a href="https://bsky.app/profile/tbfighters.org" target="_blank"><img
					src="../img/socials/bsky.svg" aria-label="Blue Sky" class="social-icon"><img
					src="../img/socials/bsky-hover.svg" class="social-icon-hover"></a>
			<a href="https://x.com/tbfighters" target="_blank">
				<img src="../img/socials/twitter.svg" aria-label="Twitter" class="social-icon">
				<img src="../img/socials/twitter-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.instagram.com/tbfighters" target="_blank">
				<img src="../img/socials/insta.svg" aria-label="Instagram" class="social-icon">
				<img src="../img/socials/insta-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.youtube.com/@TB_Fighters" target="_blank"><img
					src="../img/socials/youtube.svg" aria-label="Youtube" class="social-icon"><img
					src="../img/socials/youtube-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.facebook.com/profile.php?id=61555332203505" target="_blank"><img
					src="../img/socials/facebook.svg" aria-label="Facebook" class="social-icon"><img
					src="../img/socials/facebook-hover.svg" class="social-icon-hover"></a>
		</p>
		<hr style="width: 10%; margin: 0 auto; margin-bottom: 4px;">
		<p>
			&copy; The TBFighters Project | <a href="../privacy.html" class="footer-link">Privacy Policy</a>
		</p>
		<p class="too-small">
			
			We lead by following and we act with compassion. Get in touch: contact at tbfighters dot org
		</p>
	</footer>
</body>

</html>
