<!DOCTYPE html>

<html lang="en">

<head>
	<!--Meta tags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description"
		content="Fighting for accessible tuberculosis testing and treatment to save over a million lives a year. Take action with us now." />
	<meta name="robots" content="index, follow" />
	<!--Open Graph Tags-->
	<meta property="og:site_name" content="TBFighters" />
	<meta property="og:url" content="https://tbfighters.org" />
	<meta property="og:image" content="img/og-image.jpg" />
	<meta property="og:type" content="website" />
	<meta property="theme-color" content="#D7211E" />
	<!-- Style Tags -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../libs/toastify/toastify.css">
	<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
	<script src="../menu.js" defer></script>
	<script src="../libs/toastify/toastify.js"></script>
	<!-- Variable Tags -->
	<meta property="og:title" content="End TB Now Act | TBFighters" />
	<meta property="og:site_name" content="TBFighters: End TB Now Act" />
	<meta property="og:description" content="Take action to get the End TB Now Act passed!" />
	<link rel="stylesheet" href="../docs.css?q=2" />
	<link rel="stylesheet" href="../actions.css?q=2" />
	<script src="../header-link.js" defer></script>
	<script src="../actions.js" defer></script>
	<title>End TB Now Act | TBFighters</title>
</head>

<body class="letterguide">
	<!--BELOW THIS GETS COPIED TO ALL PAGES WHEN MENU CHANGES (CHANGE BODY CLASS TO PAGE NAME)-->
	<header id="site-head"><a href="#main" class="skip">Skip to main content</a>
		<div class="wrapper-head">
			<h1 class="page-title">
				<a href="../index.html"><span class="black-highlight">TB</span>FIGHTERS</a>
			</h1>
			<a id="hamburger-button" href="#" title="menu"></a>
			<nav class="site-menu">
				<ul class="active">
					<li><a href="../about.html">About Us</a></li>
					<li><a href="../timeline.html">News &amp; Timeline</a></li>
					<li><a href="../resources.html">Resources</a></li>
					<li><a href="../action.html">Take Action</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!--ABOVE THIS GETS COPIED TO ALL PAGES MENU CHANGES-->
	<main id="main">
		<div style="margin-top: 10em;"></div>
		<main id="main">
			<section id="take-action">
				<h2 id="contacting-your-rep">
					Contacting Your Representative
					<div class="header-copy"><noscript><a href="#contacting-your-rep"></a></noscript></div>
				</h2>
				<em>This is for <b>US</b> residents only!</em>
				<br>
				<br>
				<p class="larger">Go <a href="https://www.house.gov/representatives/find-your-representative" target="_blank">here</a> to find your house representative and how to contact them. Below are phone and email scripts and some key information about the bill.</p>
				<br>

				<h3 id="key-information">
					Key Information
					<div class="header-copy"><noscript><a href="#key-information"></a></noscript></div>
				</h3>
				<ul>
					<li class="larger"><span>Bill number:</span> H.R. 1776</li>
					<li class="larger">The bill has already passed the senate, but not the house.</li>
					<li class="larger">Tuberculosis killed 1.3 million people in 2022 alone.</li>
					<li class="larger">Passing the bill will prevent needless deaths from tuberculosis around the world.</li>
				</ul>
				<br>

			</section>
			<section id="scripts">
				<h2 id="scripts">
					Scripts
					<div class="header-copy"><noscript><a href="#scripts"></a></noscript></div>
				</h2>

				<h3 id="phone-scripts">
					Phone Scripts
					<div class="header-copy"><noscript><a href="#phone-scripts"></a></noscript></div>
				</h3>
				<article class="block larger">
					<h4 id="phone-script-1">
						Phone Script 1
						<div class="header-copy"><noscript><a href="#phone-script-1"></a></noscript></div>
					</h4>
					<p>
						Hello, my name is [Name] and I am a resident of [District]. I am calling to express my concerns about the global burden of tuberculosis, and to ask you to help pass the End Tuberculosis Now Act.
					</p>
					<br>
					<p>
						Despite being both preventable and curable, tuberculosis remains one of the world’s deadliest infectious diseases.The World Health Organization indicates that massive gaps in funding leave people in low-and middle-income countries with inadequate access to treatments. The End TB Now Act will allocate funding where it is most needed in the fight against tuberculosis.
					</p>
					<br>
					<p>
						In 2022, 1.3 million people died of TB. I urge you to prevent needless death and suffering by supporting the End TB Now Act.
					</p>
				</article>
				<h3 id="email-scripts">
					Email Scripts
					<div class="header-copy"><noscript><a href="#email-scripts"></a></noscript></div>
				</h3>
				<article class="block larger">
					<h4 id="email-script-1">
						Email Script 1
						<div class="header-copy"><noscript><a href="#email-script-1"></a></noscript></div>
					</h4>
					<div id="email-1">
						<p>
							To [insert representative here]
						</p>
						<br>
						<p>
							As your constituent and a global health advocate, I urge you to support the bipartisan End Tuberculosis Now Act (H.R.1776) being led by Reps. Bera and Salazar. The Senate just passed their companion bill via unanimous consent - and we are urging the House Leadership to put this bill on the suspension calendar for a vote as soon as possible.
						</p>
						<br>
						<p>
							Even though TB is a preventable, treatable, treatable, and curable airborne infection, TB kills more than 1.4 million people a year. TB also continues to be the leading cause of death among people living with HIV/AIDS. The failure to diagnose and treat TB exacerbates multi-drug resistant TB, which remains a public health crisis and a threat to the global economy.
						</p>
						<br>
						<p>
							H.R.1776 aims to refocus U.S. actions on prevention, address virulent drug-resistant TB strains and provide support for the best practices and technologies in TB diagnosis and treatment. The bill establishes new goals for U.S. efforts and employs prevention and treatment suggestions based on the latest scientific data while also increasing accountability and transparency.
						</p>
						<br>
						<p>
							Since the bill has already passed the full Senate and the House Foreign Affairs Committee - we just need one last push to the House floor. I urge you to co-sponsor  H.R.1776 and to speak to leadership about its swift passage.
						</p>
						<br>
						<p>
						Thanks,
						<br>
						[your name]
						</p>
					</div>
					<br>
					<div class="buttons">
						<button id="copy-opt-1" onclick="onclickButton(formatElement(document.getElementById('email-1')))">Copy</button>
					</div>
					<noscript>
						<br>
						<p style="font-style: italic;">Please enable javascript to use the copy button.</p>
					</noscript>
				</article>

			</section>
		</main>
		<footer class="site-foot">
			<p class="socials-wrapper-centered">
				<a href="https://x.com/tbfighters" target="_blank">
					<img src="../img/socials/twitter.svg" alt="Twitter" class="social-icon">
					<img src="../img/socials/twitter-hover.svg" alt="Twitter" class="social-icon-hover"></a>
				<a href="https://www.instagram.com/tbfighters" target="_blank">
					<img src="../img/socials/insta.svg" alt="Instagram" class="social-icon">
					<img src="../img/socials/insta-hover.svg" alt="Instagram" class="social-icon-hover"></a>
				<a href="https://www.youtube.com/@TB_Fighters" target="_blank"><img
						src="../img/socials/youtube.svg" alt="Youtube" class="social-icon"><img
						src="../img/socials/youtube-hover.svg" alt="Youtube" class="social-icon-hover"></a>
				<a href="https://www.facebook.com/profile.php?id=61555332203505" target="_blank"><img
						src="../img/socials/facebook.svg" alt="Facebook" class="social-icon"><img
						src="../img/socials/facebook-hover.svg" alt="Facebook" class="social-icon-hover"></a>
			</p>
			<hr style="width: 10%; margin: 0 auto; margin-bottom: 4px;">
			<p>
				&copy; The TBFighters Project | <a href="../privacy.html" class="footer-link">Privacy Policy</a>
			</p>
			<p class="too-small">
				
				We lead by following and we act with compassion. Get in touch: contact at tbfighters dot org
			</p>
		</footer>
</body>

</html>
