<!DOCTYPE html>

<html lang="en">

<head>
	<!--Meta tags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Open Graph Tags-->
	<meta property="og:site_name" content="TBFighters" />
	<meta property="og:url" content="https://tbfighters.org" />
	<meta property="og:type" content="website" />
	<meta property="theme-color" content="#D7211E" />
	<!-- Style Tags -->
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../libs/toastify/toastify.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="icon" type="image/x-icon" href="../img/favicon/favicon.ico">
	<script src="../menu.js" defer></script>
	<script src="../libs/toastify/toastify.js"></script>
	<!-- Variable Tags -->
	<meta name="robots" content="index, follow" />
	<meta property="og:title" content="US Funding Cut Templates | TBFighters" />
	<meta property="og:image" content="https://tbfighters.org/img/funding-cuts/og-image.jpg" />
	<meta property="og:description" content="Templates for contacting your representative about tuberculosis" />
	<meta name="description"
		content="Fighting for accessible tuberculosis testing and treatment to save over a million lives a year. Take action with us now." />

	<link rel="stylesheet" href="../docs.css?q=2" />
	<link rel="stylesheet" href="../actions.css?q=2" />
	<script src="../header-link.js" defer></script>
	<script src="../actions.js" defer></script>
	<title>US Funding Cut Templates | TBFighters</title>
</head>

<body class="letterguide">
	<!--BELOW THIS GETS COPIED TO ALL PAGES WHEN MENU CHANGES (CHANGE BODY CLASS TO PAGE NAME)-->
	<header id="site-head"><a href="#main" class="skip">Skip to main content</a>
		<div class="wrapper-head">
	
				<h1 class="page-title">
					<a href="../index.html"><img src="../img/simplified-hourglass.png" alt=""><span
							class="black-highlight">TB</span>FIGHTERS</a>
				</h1>
				<a id="hamburger-button" href="#" title="menu"></a>
				<nav class="site-menu">
					<ul class="active">
						<li class="dropdown" id="nav-about">
							<div>
								<a href="../about.html" class="title">About Us</a><button aria-label="Open menu About us" class="dropdown-button"><img src="../img/chevron-white.svg" alt="dropdown arrow"</button>
							</div>
							<ul class="dropdown-content">
								<li><a href="../timeline.html" class="title">News & Timeline</a></li>
							</ul>
						</li>
						<li id="nav-learn-more"><a class="title" href="../resources.html">Learn about TB</a></li>
						<li class="dropdown" id="nav-community">
							<div>
								<a class="title" href="../community.html">Community</a><button aria-label="Open menu Community" class="dropdown-button"><img src="../img/chevron-white.svg" alt="dropdown arrow"</button>
							</div>
							<ul class="dropdown-content">
								<li><a href="../book-club/" class="title">Book Club</a></li>
								<li><a href="../newsletter.html" class="title">Newsletter</a></li>
							</ul>
						</li>
						<li class="dropdown" id="nav-take-action">
							<div>
								<a class="title" href="../action.html">Take Action</a><button aria-label="Open menu Take Action" class="dropdown-button"><img src="../img/chevron-white.svg" alt="dropdown arrow"</button>
							</div>
							<ul class="dropdown-content">
								<li><a href="../danaher/" class="title">Danaher</a></li>
								<li><a href="../funding-cuts/" class="title">Funding Cuts</a></li>
								<li><a href="../hill-day/" class="title">Hill Day</a></li>
							</ul>
						</li>
					</ul>
				</nav>
	
		</div>
	</header>
	<!--ABOVE THIS GETS COPIED TO ALL PAGES MENU CHANGES-->
	<main id="main">
		<section class="wrapper">
			<h1 style="margin-bottom: 0em;">US Fund Cuts Templates</h1>
			<a class="button button-full" href="./funding-cuts-non-us.html"
				style="margin-bottom: 1.6em;">Non-US templates</a>
			<nav class="table-of-contents">
				<h3>Table Of Contents</h3>
				<ul>
					<li><a href="#finding-contact-info"><b>Finding Contact Information</b></a>
						<ul>
							<li><a href="#finding-phone"><b>Phone</b></a>
							</li>
							<li><a href="#finding-email"><b>Email</b></a>
							</li>
							<li><a href="#finding-address"><b>Mail Address</b></a>
							</li>
						</ul>

					</li>
					<li><a href="#phone-script"><b>Call Template</b></a></li>
					<li><a href="#email-template"><b>Email Template</b></a></li>
					<li><a href="#letter-template"><b>Snail Mail Template</b></a></li>
				</ul>
			</nav>
		</section>
		<section id="finding-contact-info" class="wrapper">
			<h2 id="finding-contact-info" style="margin-bottom: 0;">Finding Contact Information
				<div class="header-copy"><noscript><a href="#finding-contact-info"></a></noscript></div>
			</h2>
			<a class="button button-full" href="https://results.org/volunteers/legislator-lookup"
				target="_blank" style="margin-bottom: 0.6em;">Find your members of Congress</a>
			<br>
			<h3 id="finding-phone">Phone
				<div class="header-copy"><noscript><a href="#finding-phone"></a></noscript></div>
			</h3>
			<p>Click on the name of your Senator/Rep (rather than the checkbox) to find the DC office
				(Capitol) phone number.</p>
			<p>You can also call the <b>Capitol Switchboard</b> to be connected to the office directly at <a
					href="tel:202-224-3121">202-224-3121</a>.</p>
			<br>
			<h3 id="finding-email">Email
				<div class="header-copy"><noscript><a href="#finding-email"></a></noscript></div>
			</h3>
			<p><b>To find staffer emails:</b></p>
			<p>Click "staff" to find the names of DC office staffers. Search for the name of the
				<b>“Legislative Director” or “Health policy” or “Legislative Assistant” (in that
					order)</b>. Avoid reaching out to fellows or Legislative Correspondents. Convert
				the name of the staffer into an email using the convention:
			</p>
			<ul>
				<li>House email convention is typically: first.last@mail.house.gov. (<i>ex.
						jane.doe@mail.house.gov</i>)</li>
				<li>Senate email convention is typically first_last@member.senate.gov. (<i>ex.
						ane_doe@warren.senate.gov</i>)</li>
			</ul>
			<br>
			<h3 id="finding-address">Mail Address
				<div class="header-copy"><noscript><a href="#finding-address"></a></noscript></div>
			</h3>
			<p>Go to the Representative or Senator's official website and find their office address under
				"contact." (It is usually best to send letters to the Washington, DC office.)</p>
		</section>
		<section id="phone-script" class="wrapper">
			<h2 id="phone-script" style="margin-bottom: 0;">Call Template
				<div class="header-copy"><noscript><a href="#phone-script"></a></noscript></div>
			</h2>
			<a href="https://act.pih.org/foreign-aid-freeze" target="_blank" class="button button-full">Call
				with one click</a>
			<p class="larger">Capitol Switchboard: <a href="tel:202-224-3121"><b>202-224-3121</b></a></p>
			<br>
			<h4 id="anxiety-tips">
				Tips for Social Anxiety When Calling
				<div class="header-copy"><noscript><a href="#anxiety-tips"></a></noscript></div>
			</h4>
			<ol>
				<li>
					Your anxiety is real, and even if it's not logical to be afraid of
					calling you are, and no one can or should deny that.
				</li>
				<li>
					It may be helpful to prepare a script to read directly from, or at least
					plan out what to say. It doesn't have to be as long as the one here.
				</li>
				<li>
					If you have questions or need moral support, Nerdfighteria is happy to
					help &lt;3
				</li>
			</ol>
			<br>
			<h5>What to expect:</h5>
			<p>When calling a congressional office directly, you may be asked to choose from a list of
				reasons to call. If not, or once you've given a reason, an aide will pick up or you will
				be directed to leave a voicemail (most likely if you call outside of business hours).
				You'll usually receive a short greeting, and they'll listen to your message. After that,
				they may ask some basic clarifying questions and for information like your full name or
				zip code. Once everything is communicated, they might thank you for your call, and
				you're done!</p>
			<p>If you're calling using the Capitol Switchboard, you'll be asked for the name of the Senator
				or Representative you want to reach, so have that ready! If you don't, you will also
				have the option to ask for help finding them.</p>
			<br>
			<article class="block">
				<div>
					<p>Hello. My name is [Full Name], and I live in [City]—zip code number [#####].
					</p>
					<br>
					<p>
						I’m calling to ask [Sen/Rep NAME] to oppose the dismantling of USAID and
						the cutting of its staff. This is a public health crisis that is going
						to cost lives both at home and abroad, as malnutrition and disease
						compound one another and increase the likelihood of another global
						pandemic and economic instability. In addition, dismantling USAID
						without Congress’ approval would defy a congressional statute,
						threatening the balance of powers between the President and Congress.
					</p>
					<br>
					<p>I ask [Sen/Rep NAME] to do everything in [their] power to prevent this breach
						of Congress’ legislative authority and the loss of life that is going to
						follow if we continue on this dangerous path. I’d appreciate any updates
						on [Sen/Rep NAME’s] work in this area. You can reach me at [phone
						number] or by email at [email address]. Thank you.</p>
				</div>
			</article>
		</section>
		<section id="email-template" class="wrapper">
			<h2 id="email-template" style="margin-bottom: 0;">Email Template
				<div class="header-copy"><noscript><a href="#email-template"></a></noscript></div>
			</h2>
			<br>
			<br>
			<article class="block">
				<div id="option-1">
					<p>Dear [Representative or Senator Name], </p>
					<br>
					<p>My name is [Your Name]. I’m a constituent from [Location/Zip Code]. I am asking you to oppose the dismantling of USAID and the cutting of its staff. This dismantling is a public health crisis that is going to cost lives at home and abroad. Cutting funding from USAID will make the likelihood of another global pandemic greater as people have their treatment suddenly stop—making drug-resistance more likely. It is estimated that this dismantling will result in a 28-30% increase in tuberculosis (which is already the leading infectious disease in number of deaths), which will result in millions of people to dies from a preventable decision over the years.</p>
					<br>
					<p>The dismantling of USAID is also highly illegal. It was done without congressional approval, which is threatening the balance of powers between the President and Congress and needs to be corrected.</p>
					<br>
					<p>I ask you to do everything in your power to prevent this breach of Congress' legislative authority and the loss of life that is going to follow if we continue on this dangerous path. I'd appreciate any updates on your work in their area. You can reach me at [phone number] or by email at [email address].</p>
					<br>
					<p>Thank you,</p>
					<p class="name">[Your name]</p>
				</div>
				<br>
				<div class="buttons">
					<button id="copy-opt-1"
						onclick="onclickButton(formatElement(document.getElementById('option-1')))">Copy</button>
				</div>
				<noscript>
					<br>
					<p style="font-style: italic;">Please enable javascript to use the copy
						button.</p>
				</noscript>
			</article>
		</section>
		<section id="letter-template" class="wrapper">
			<h2 id="letter-template" style="margin-bottom: 0;">Letter Template
				<div class="header-copy"><noscript><a href="#letter-template"></a></noscript></div>
			</h2>
			<br>
			<br>
			<article class="block">
				<div id="option-2">
					<p>Dear [Representative or Senator Name], </p>
					<br>
					<p>My name is [Your Name]. I’m a constituent from [Location/Zip Code]. I am asking you to oppose the dismantling of USAID and the cutting of its staff. This dismantling is a public health crisis that is going to cost lives at home and abroad. Cutting funding from USAID will make the likelihood of another global pandemic greater as people have their treatment suddenly stop—making drug-resistance more likely. It is estimated that this dismantling will result in a 28-30% increase in tuberculosis (which is already the leading infectious disease in number of deaths), which will result in millions of people to dies from a preventable decision over the years.</p>
					<br>
					<p>The dismantling of USAID is also highly illegal. It was done without congressional approval, which is threatening the balance of powers between the President and Congress and needs to be corrected.</p>
					<br>
					<p>I ask you to do everything in your power to prevent this breach of Congress' legislative authority and the loss of life that is going to follow if we continue on this dangerous path. I'd appreciate any updates on your work in their area. You can reach me at [phone number] or by email at [email address].</p>
					<br>
					<p>Thank you,</p>
					<p class="name">[Your name]</p>
				</div>
				<div class="buttons">
					<button id="copy-opt-2"
						onclick="onclickButton(formatElement(document.getElementById('option-2')))">Copy</button>
				</div>
				<noscript>
					<br>
					<p style="font-style: italic;">Please enable javascript to use the copy
						button.</p>
				</noscript>
			</article>
		</section>
	</main>
	<footer class="site-foot">
		<p class="socials-wrapper-centered">
			<a href="https://bsky.app/profile/tbfighters.org" target="_blank"><img
					src="../img/socials/bsky.svg" aria-label="Blue Sky" class="social-icon"><img
					src="../img/socials/bsky-hover.svg" class="social-icon-hover"></a>
			<a href="https://x.com/tbfighters" target="_blank">
				<img src="../img/socials/twitter.svg" aria-label="Twitter" class="social-icon">
				<img src="../img/socials/twitter-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.instagram.com/tbfighters" target="_blank">
				<img src="../img/socials/insta.svg" aria-label="Instagram" class="social-icon">
				<img src="../img/socials/insta-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.youtube.com/@TB_Fighters" target="_blank"><img
					src="../img/socials/youtube.svg" aria-label="Youtube" class="social-icon"><img
					src="../img/socials/youtube-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.facebook.com/profile.php?id=61555332203505" target="_blank"><img
					src="../img/socials/facebook.svg" aria-label="Facebook" class="social-icon"><img
					src="../img/socials/facebook-hover.svg" class="social-icon-hover"></a>
		</p>
		<hr style="width: 10%; margin: 0 auto; margin-bottom: 4px;">
		<p>
			&copy; The TBFighters Project | <a href="../privacy.html" class="footer-link">Privacy Policy</a>
		</p>
		<p class="too-small">
			
			We lead by following and we act with compassion. Get in touch: contact at tbfighters dot org
		</p>
	</footer>
</body>

</html>
