<!DOCTYPE html>

<html lang="en">

<head>
	<!--Meta tags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Open Graph Tags-->
	<meta property="og:site_name" content="TBFighters" />
	<meta property="og:url" content="https://tbfighters.org" />
	<meta property="og:type" content="website" />
	<meta property="theme-color" content="#D7211E" />
	<!-- Style Tags -->
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../libs/toastify/toastify.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="icon" type="image/x-icon" href="../img/favicon/favicon.ico">
	<script src="../menu.js" defer></script>
	<script src="../libs/toastify/toastify.js"></script>
	<!-- Variable Tags -->
	<meta name="robots" content="index, follow" />
	<meta property="og:title" content="Non-US Funding Cut Templates | TBFighters" />
	<meta property="og:image" content="https://tbfighters.org/img/funding-cuts/og-image.jpg" />
	<meta property="og:description" content="Templates for contacting your elected about tuberculosis" />
	<meta name="description"
		content="Fighting for accessible tuberculosis testing and treatment to save over a million lives a year. Take action with us now." />

	<link rel="stylesheet" href="../docs.css?q=2" />
	<link rel="stylesheet" href="../actions.css?q=2" />
	<script src="../header-link.js" defer></script>
	<script src="../actions.js" defer></script>
	<title>Non-US Funding Cut Templates | TBFighters</title>
</head>

<body class="letterguide">
	<!--BELOW THIS GETS COPIED TO ALL PAGES WHEN MENU CHANGES (CHANGE BODY CLASS TO PAGE NAME)-->
	<header id="site-head"><a href="#main" class="skip">Skip to main content</a>
		<div class="wrapper-head">
	
				<h1 class="page-title">
					<a href="../index.html"><img src="../img/simplified-hourglass.png" alt=""><span
							class="black-highlight">TB</span>FIGHTERS</a>
				</h1>
				<a id="hamburger-button" href="#" title="menu"></a>
				<nav class="site-menu">
					<ul class="active">
						<li class="dropdown" id="nav-about">
							<div>
								<a href="../about.html" class="title">About Us</a><button aria-label="Open menu About us"><img src="../img/chevron-white.svg" alt="dropdown arrow"</button>
							</div>
							<ul class="dropdown-content">
								<li><a href="../timeline.html" class="title">News & Timeline</a></li>
							</ul>
						</li>
						<li id="nav-learn-more"><a class="title" href="../resources.html">Learn about TB</a></li>
						<li class="dropdown" id="nav-community">
							<div>
								<a class="title" href="../community.html">Community</a><button aria-label="Open menu Community"><img src="../img/chevron-white.svg" alt="dropdown arrow"</button>
							</div>
							<ul class="dropdown-content">
								<li><a href="../book-club/" class="title">Book Club</a></li>
								<li><a href="../newsletter.html" class="title">Newsletter</a></li>
							</ul>
						</li>
						<li class="dropdown" id="nav-take-action">
							<div>
								<a class="title" href="../action.html">Take Action</a><button aria-label="Open menu Take Action"><img src="../img/chevron-white.svg" alt="dropdown arrow"</button>
							</div>
							<ul class="dropdown-content">
								<li><a href="../danaher/" class="title">Danaher</a></li>
								<li><a href="../funding-cuts/" class="title">Funding Cuts</a></li>
								<li><a href="../hill-day/" class="title">Hill Day</a></li>
							</ul>
						</li>
					</ul>
				</nav>
	
		</div>
	</header>
	<!--ABOVE THIS GETS COPIED TO ALL PAGES MENU CHANGES-->
	<main id="main">
		<section class="wrapper">
			<h1 style="margin-bottom: 0em;">Non-US Fund Cuts Templates</h1>
			<a class="button button-full" href="./funding-cuts-us.html" style="margin-bottom: 1.6em;">US
				templates</a>
		</section>
		<section id="#letter-template" class="wrapper">
			<h2>Letter Template</h2>
			<h3>Instructions:</h3>
			<ul>
				<li>Pick an elected official to send your letter too.</li>
				<li>Write your own letter, in your own language, using the letter below as a guide (this one is tailored to ambassadors, but you can reword it for other elected officials).</li>
				<li>Print it off or put it in an email and send it</li>
			</ul>
			<br>
			<h3>What its about:</h3>
			<p>This letter asks the elected official to both take a stance against the dismantling of USAID
				and to fill in the void that the US's cuts to foreign aid left.</p>
			<br>
			<h3>The letter:</h3>
			<article class="block">
				<div id="option-1">
					<p><u><b>The Honorable [Ambassador's Full Name]</b></u></p>
					<p><u><b>The Ambassador of the United States of America</b></u></p>
					<p><u><b>The Embassy of [Country Name]</b></u></p>
					<p><b>[Embassy Address]</b></p>
					<br>
					<p>Dear <u><b>Honorable Ambassador [Name],</b></u></p>
					<br>
					<p>As a <u><b>citizen/resident</b></u> of <u><b>[Country Name]</b></u>, I have long held
						appreciation and respect for the United States' leadership in global
						health across several decades, particularly on tuberculosis (TB). U.S.
						investments in TB programs have had a transformative impact across the
						low- and middle-income countries, helping to address deadly epidemics and strengthen
						healthcare systems. These lifesaving programs have been a strategic and
						virtuous partnership between our nations, and they have reflected our
						shared values of health, security, and prosperity.</p>
					<br>
					<p>However, the recent stop-work order brought many of these lifesaving services
						to a halt. In countries such as Lesotho and Sierra Leone, this has meant
						patients unable to access medication, clinics shuttering, delayed
						diagnoses, untreated malnutrition in children - the list goes on. We
						strongly urge your support for immediately restarting the entire
						spectrum of TB services, and that they remain a centerpiece of U.S.
						partnership into the future.</p>
					<br>
					<p>As the U.S. undertakes its foreign aid review, we hope you will continue to
						make TB a top priority. In 2024, USAID and The Philippines Government
						Department of Health partnered with private funding to pioneer a
						comprehensive program to treat TB in Ethiopia and The Philippines. Due
						to the shuttering of USAID, this program is no longer happening. U.S.
						investments have been essential in efforts to end TB, not only through
						direct funding for TB screening, treatment, and care, but also by
						bolstering local leadership and governmental healthcare investments. We
						urge you to champion the continuation and expansion of these programs in
						the global response to end TB.</p>
					<br>
					<p>Thank you for your leadership and partnership which has resulted in
						tremendous gains in the global fight against TB. The cuts to USAID are
						threatening lifesaving programs and vital infrastructure, and I urge you
						to take immediate action to efforts and ensure they are preserved moving
						forward. Global health efforts save lives, we cannot allow these
						programs to be dismantled.</p>
					<br>
					<p>Sincerely,</p>
					<p><u><b>[Signature]</b></u></p>
					<p><u><b>[Name]</b></u></p>
				</div>
				<br>
				<div class="buttons">
					<button id="copy-opt-1"
						onclick="onclickButton(formatElement(document.getElementById('option-1')))">Copy</button>
				</div>
				<noscript>
					<br>
					<p style="font-style: italic;">Please enable javascript to use the copy
						button.</p>
				</noscript>
			</article>
		</section>
	</main>
	<footer class="site-foot">
		<p class="socials-wrapper-centered">
			<a href="https://bsky.app/profile/tbfighters.org" target="_blank"><img
					src="../img/socials/bsky.svg" aria-label="Blue Sky" class="social-icon"><img
					src="../img/socials/bsky-hover.svg" class="social-icon-hover"></a>
			<a href="https://x.com/tbfighters" target="_blank">
				<img src="../img/socials/twitter.svg" aria-label="Twitter" class="social-icon">
				<img src="../img/socials/twitter-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.instagram.com/tbfighters" target="_blank">
				<img src="../img/socials/insta.svg" aria-label="Instagram" class="social-icon">
				<img src="../img/socials/insta-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.youtube.com/@TB_Fighters" target="_blank"><img
					src="../img/socials/youtube.svg" aria-label="Youtube" class="social-icon"><img
					src="../img/socials/youtube-hover.svg" class="social-icon-hover"></a>
			<a href="https://www.facebook.com/profile.php?id=61555332203505" target="_blank"><img
					src="../img/socials/facebook.svg" aria-label="Facebook" class="social-icon"><img
					src="../img/socials/facebook-hover.svg" class="social-icon-hover"></a>
		</p>
		<hr style="width: 10%; margin: 0 auto; margin-bottom: 4px;">
		<p>
			&copy; The TBFighters Project | <a href="../privacy.html" class="footer-link">Privacy Policy</a>
		</p>
		<p class="too-small">
			
			We lead by following and we act with compassion. Get in touch: contact at tbfighters dot org
		</p>
	</footer>
</body>

</html>
