<!DOCTYPE html>

<html lang="en">

<head>
	<!--Meta tags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Open Graph Tags-->
	<meta property="og:site_name" content="TBFighters" />
	<meta property="og:url" content="https://tbfighters.org" />
	<meta property="og:type" content="website" />
	<meta property="theme-color" content="#D7211E" />
	<!-- Style Tags -->
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../libs/toastify/toastify.css">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="icon" type="image/x-icon" href="../img/favicon/favicon.ico">
	<script src="../menu.js" defer></script>
	<script src="../libs/toastify/toastify.js"></script>
	<!-- Variable Tags -->
	<meta name="robots" content="index, follow" />
	<meta property="og:title" content="Hill Day Templates | TBFighters" />
	<meta property="og:image" content="https://tbfighters.org/img/og-image.jpg" />
	<meta property="og:description" content="Templates for contacting your representative about tuberculosis" />
	<meta name="description"
		content="Fighting for accessible tuberculosis testing and treatment to save over a million lives a year. Take action with us now." />

	<link rel="stylesheet" href="../docs.css?q=2" />
	<link rel="stylesheet" href="../actions.css?q=2" />
	<script src="../header-link.js" defer></script>
	<script src="../actions.js" defer></script>
	<title>Hill Day Templates | TBFighters</title>
</head>

<body class="letterguide">
	<header id="site-head"><a href="#main" class="skip">Skip to main content</a>
		<div class="wrapper-head">
	
			<div class="page-title">
				<a href="../index.html"><img src="../img/simplified-hourglass.png" alt=""><span
						class="black-highlight">TB</span>FIGHTERS</a>
			</div>
			<a id="hamburger-button" href="#" title="menu"></a>
			<nav class="site-menu">
				<ul class="active">
					<li class="dropdown lined" id="nav-about">
						<div>
							<div class="mobile"></div>
							<a href="../about.html" class="title">About Us</a><button
								aria-label="Open menu About us" class="dropdown-button"><img
									src="../img/icons/chevron-white.svg"
									alt="dropdown arrow"></button>
						</div>
						<ul class="dropdown-content">
							<li><a href="../book-club" class="title">TBReaders Bookclub</a>
							</li>
							<li><a href="../timeline.html" class="title">News & Timeline</a>
							</li>
						</ul>
					</li>
					<li class="non-dropdown lined" id="nav-learn-more"><a class="title"
							href="../resources.html">About TB</a></li>
					<li class="dropdown lined" id="nav-take-action">
						<div>
							<div class="mobile"></div>
							<a class="title" href="../action.html">Take Action</a><button
								aria-label="Open menu Take Action" class="dropdown-button"><img
									src="../img/icons/chevron-white.svg"
									alt="dropdown arrow"></button>
						</div>
						<ul class="dropdown-content">
							<li><a href="../danaher/" class="title">Affordable Testing</a></li>
							<li><a href="../funding-cuts/" class="title">Funding Cuts</a></li>
							<li><a href="../hill-day/" class="title">US Hill Day</a></li>
							<li><a href="../templates/" class="title">Templates</a></li>
						</ul>
					</li>
					<li class="non-dropdown socials" id="nav-socials">
						<p class="smaller socials-wrapper">
							<a href="https://newsletter.tbfighters.org/subscribe" target="_blank"><img
									src="../img/socials/newsletter-nav.svg" alt="Newsletter" aria-label="Newsletter" class="social-icon"><img
									src="../img/socials/newsletter-nav-hover.svg" class="social-icon-hover"></a>
							<a href="https://bsky.app/profile/tbfighters.org" target="_blank"><img
									src="../img/socials/bsky-nav.svg" alt="Bluesky" aria-label="Bluesky" class="social-icon"><img
									src="../img/socials/bsky-nav-hover.svg" class="social-icon-hover"></a>
							<a href="https://www.instagram.com/tbfighters" target="_blank"><img
									src="../img/socials/insta-nav.svg" alt="Instagram" aria-label="Instagram" class="social-icon"><img
									src="../img/socials/insta-nav-hover.svg" class="social-icon-hover"></a>
							<a href="https://www.youtube.com/@TB_Fighters" target="_blank"><img
									src="../img/socials/youtube-nav.svg" alt="YouTube" aria-label="Youtube" class="social-icon"><img
									src="../img/socials/youtube-nav-hover.svg" class="social-icon-hover"></a>
						</p>
					</li>
				</ul>
			</nav>
	
		</div>
	</header>
	<main id="main">
		<section class="container container-compact title">
		<div class="wrapper-full">
			<h1 style="margin-bottom: 0;">US Hill Day Templates</h1>
			<p><em><a href="/templates/">View all templates</a></em></p>
			<br>
			<nav class="table-of-contents">
				<h2>Table Of Contents</h2>
				<ul>
					<li><a href="#finding-contact-info"><b>Finding Contact Information</b></a>
						<ul>
							<li><a href="#finding-phone"><b>Phone</b></a>
							</li>
							<li><a href="#finding-email"><b>Email</b></a>
							</li>
							<li><a href="#finding-address"><b>Mail Address</b></a>
							</li>
						</ul>

					</li>
					<li><a href="#phone-script"><b>Call Template</b></a></li>
					<li><a href="#email-template"><b>Email Template</b></a></li>
					<li><a href="#letter-template"><b>Snail Mail Template</b></a></li>
				</ul>
			</nav>
			<h2 id="finding-contact-info" style="margin-bottom: 0;">Finding Contact Information
				<div class="header-copy"><noscript><a href="#finding-contact-info"></a></noscript></div>
			</h2>
			<a class="button button-full" href="https://results.org/volunteers/legislator-lookup"
				target="_blank" style="margin-bottom: 0.6em;">Find your members of Congress</a>
			<br>
			<h3 id="finding-phone">Phone
				<div class="header-copy"><noscript><a href="#finding-phone"></a></noscript></div>
			</h3>
			<p>Click on the name of your Senator/Rep (rather than the checkbox) to find the DC office
				(Capitol) phone number.</p>
			<p>You can also call the <b>Capitol Switchboard</b> to be connected to the office directly at <a
					href="tel:202-224-3121">202-224-3121</a>.</p>
			<br>
			<h3 id="finding-email">Email
				<div class="header-copy"><noscript><a href="#finding-email"></a></noscript></div>
			</h3>
			<p>You can use this <a href="https://win.newmode.net/partnersinhealth/tbusglettercampaign2025"
					target="_blank">email tool</a> to quickly and easily send emails directly to
				your representatives in Congress!</p>
			<br>
			<p><b>To find staffer emails:</b></p>
			<p>Click "staff" to find the names of DC office staffers. Search for the name of the
				<b>“Legislative Director” or “Health policy” or “Legislative Assistant” (in that
					order)</b>. Avoid reaching out to fellows or Legislative Correspondents. Convert
				the name of the staffer into an email using the convention:
			</p>
			<ul>
				<li>House email convention is typically: first.last@mail.house.gov. (<i>ex.
						jane.doe@mail.house.gov</i>)</li>
				<li>Senate email convention is typically first_last@member.senate.gov. (<i>ex.
						ane_doe@warren.senate.gov</i>)</li>
			</ul>
			<br>
			<h3 id="finding-address">Mail Address
				<div class="header-copy"><noscript><a href="#finding-address"></a></noscript></div>
			</h3>
			<p>Go to the Representative or Senator's official website and find their office address under
				"contact." (It is usually best to send letters to the Washington, DC office.)</p>
			<h2 id="phone-script" style="margin-bottom: 0;">Call Template
				<div class="header-copy"><noscript><a href="#phone-script"></a></noscript></div>
			</h2>
			<p class="larger">Capitol Switchboard: <a href="tel:202-224-3121"><b>202-224-3121</b></a></p>
			<br>
			<h4 id="anxiety-tips">
				Tips for Social Anxiety When Calling
				<div class="header-copy"><noscript><a href="#anxiety-tips"></a></noscript></div>
			</h4>
			<ol>
				<li>
					Your anxiety is real, and even if it's not logical to be afraid of
					calling you are, and no one can or should deny that.
				</li>
				<li>
					It may be helpful to prepare a script to read directly from, or at least
					plan out what to say. It doesn't have to be as long as the one here.
				</li>
				<li>
					If you have questions or need moral support, Nerdfighteria is happy to
					help &lt;3
				</li>
			</ol>
			<br>
			<h5>What to expect:</h5>
			<p>When calling a congressional office directly, you may be asked to choose from a list of
				reasons to call. If not, or once you've given a reason, an aide will pick up or you will
				be directed to leave a voicemail (most likely if you call outside of business hours).
				You'll usually receive a short greeting, and they'll listen to your message. After that,
				they may ask some basic clarifying questions and for information like your full name or
				zip code. Once everything is communicated, they might thank you for your call, and
				you're done!</p>
			<p>If you're calling using the Capitol Switchboard, you'll be asked for the name of the Senator
				or Representative you want to reach, so have that ready! If you don't, you will also
				have the option to ask for help finding them.</p>
			<br>
			<article class="block">
				<div>
					<p>Hi, my name is [YOUR NAME]. I’m a constituent from [YOUR HOMETOWN], and my
						zip code is [YOUR ZIP CODE].</p>
					<br>
					<p>I’m calling today to ask [SEN. / REP. NAME] to push towards an end to
						tuberculosis by supporting the following four programmatic funding
						levels for fiscal year 2026:</p>
					<ul>
						<li>$1 billion for USAID Bilateral TB funding</li>
						<li>$2 billion for the Global Fund to Fight AIDS, TB, and Malaria</li>
						<li>$225 million for the CDC’s Division of TB Elimination programming
							through CDC and </li>
						<li>$1 billion for NIH TB research funding. </li>
					</ul>
					<br>
					<p>Tuberculosis has been one of the leading infectious killers globally for
						centuries, and in 2023 alone, an estimated 10.8 million people fell ill
						with TB and 1.25 million died. This is unacceptable given that TB is a
						preventable, treatable, and curable disease. If this increased funding
						were to pass, we could save lives, prevent antibiotic resistance and
						outbreaks, and create a healthier world.</p>
					<br>
					<p>I’d love to receive updates on the progress of these requests. My phone
						number is [YOUR PHONE NUMBER] and my email is [YOUR EMAIL].</p>
					<br>
					<p>Thank you!</p>
				</div>
			</article>
			<a href="https://forms.gle/Sa6iPiknBGAWpapk6" target="_blank" class="button button-full">Let us
				know you've called!</a>
			<h2 id="email-template" style="margin-bottom: 0;">Email Template
				<div class="header-copy"><noscript><a href="#email-template"></a></noscript></div>
			</h2>
			<a href="https://win.newmode.net/partnersinhealth/tbusglettercampaign2025 " target="_blank"
				class="button button-full">Send an email with one click</a>
			<br>
			<br>
			<article class="block">
				<div id="option-1">
					<p>Dear [Representative or Senator Name], </p>
					<br>
					<p>My name is [Your Name]. I’m a constituent from [Location/Zip Code]. To push
						towards an end to tuberculosis, I’m writing to ask you to support the
						following four programmatic funding levels for Fiscal Year 2026: </p>
					<br>
					<p>$1 billion for USAID Bilateral TB funding.</p>
					<br>
					<p>$2 billion for the Global Fund to Fight AIDS, TB, and Malaria.</p>
					<br>
					<p>$225 million for the CDC’s Division of TB Elimination programming through
						CDC.</p>
					<br>
					<p>$1 billion for NIH TB research funding.</p>
					<br>
					<p>Tuberculosis, or TB, has been one of the leading infectious killers globally
						for centuries. In 2023 alone, an estimated 10.8 million people fell ill
						with TB and 1.25 million died. In the US, 9,615 people fell ill with TB
						in 2023, which represents a 16% increase over 2022 cases. TB
						disproportionately affects low-income and otherwise marginalized
						communities and is a key driver of poverty. While health policy experts
						estimate that we need to spend $22 billion per year globally to reduce
						TB deaths significantly, total global spending is $5.7 billion per year
						including $1 billion in foreign aid. Your support of these
						appropriations lines will help close the gap.</p>
					<br>
					<p>Please let me know if you have any questions. Also, please let me know when
						your office releases FY26 programmatic appropriations request forms.
						Thank you for your consideration. You can contact me at: [Your Phone
						Number] or [Your Email].</p>
					<br>
					<p>
						Best,
					</p>
					<p class="name">[Your name]</p>
				</div>
				<br>
				<div class="buttons">
					<button id="copy-opt-1"
						onclick="onclickButton(formatElement(document.getElementById('option-1')))">Copy</button>
				</div>
				<noscript>
					<br>
					<p style="font-style: italic;">Please enable javascript to use the copy
						button.</p>
				</noscript>
			</article>
			<h2 id="letter-template">Letter Template</h2>
			<article class="block">
				<div>
					<p>Dear [SEN. / REP. NAME], </p>
					<br>
					<p>My name is [YOUR NAME]. I’m a constituent from [YOUR HOMETOWN], and my zip
						code is [YOUR ZIP CODE].</p>
					<br>
					<p>To push towards an end to tuberculosis, I’m writing to ask [Sen / Rep NAME]
						to
						support the following four programmatic funding levels for FY2026:
					</p>
					<ul>
						<li>$1 billion for USAID Bilateral TB funding</li>
						<li>$2 billion for the Global Fund to Fight AIDS, TB, and Malaria</li>
						<li>$225 million for the CDC’s Division of TB Elimination programming
							through CDC, and </li>
						<li>$1 billion for NIH TB research funding. </li>
					</ul>
					<br>
					<p>Tuberculosis, or TB, has been one of the leading infectious killers globally
						for centuries. In 2023 alone, an estimated 10.8 million people fell ill
						with TB and 1.25 million died. In the US, 9,615 people fell ill
						with TB in 2023, which represents a 16% increase over 2022 cases. TB
						disproportionately affects low-income and otherwise marginalized
						communities, and is a key driver of poverty. While health policy experts
						estimate that we need to spend $22 billion per year globally to
						significantly reduce TB deaths, we only spend $5.7 billion per year.
						[Sen / Rep’s NAME] support of the above-listed appropriations priorities
						will help close the gap.</p>
					<br>
					<p>Please let me know if you have any questions. You can contact me at [email
						address and/or phone number.] Also, please let me know when your office
						releases FY26 programmatic appropriations request forms. </p>
					<br>
					<p>Thank you for your consideration.</p>
					<br>
					<p>Best,</p>
					<p>[Name]</p>
				</div>
			</article>
			<a href="https://forms.gle/Sa6iPiknBGAWpapk6" target="_blank" class="button button-full">Let us
				know you've sent a letter!</a>
		</div>
		</section>
	</main>
	<footer class="site-foot">
			<p class="socials-wrapper-centered socials-wrapper">
				<a href="https://newsletter.tbfighters.org/subscribe" target="_blank"><img
					src="../img/socials/newsletter.svg" alt="Newsletter" aria-label="Newsletter" class="social-icon"><img
					src="../img/socials/newsletter-hover.svg" class="social-icon-hover"></a>
				<a href="https://bsky.app/profile/tbfighters.org" target="_blank"><img
					src="../img/socials/bsky.svg" alt="Bluesky" aria-label="Bluesky" class="social-icon"><img
					src="../img/socials/bsky-hover.svg" class="social-icon-hover"></a>
				<a href="https://x.com/tbfighters" target="_blank"><img
					src="../img/socials/twitter.svg" alt="Twitter" aria-label="Twitter" class="social-icon"><img
					src="../img/socials/twitter-hover.svg" class="social-icon-hover"></a>
				<a href="https://www.instagram.com/tbfighters" target="_blank">
					<img src="../img/socials/insta.svg" alt="Instagram" aria-label="Instagram" class="social-icon">
					<img src="../img/socials/insta-hover.svg" class="social-icon-hover"></a>
				<a href="https://www.youtube.com/@TB_Fighters" target="_blank"><img
					src="../img/socials/youtube.svg" alt="YouTube" aria-label="Youtube" class="social-icon"><img
					src="../img/socials/youtube-hover.svg" class="social-icon-hover"></a>
				<a href="https://www.facebook.com/profile.php?id=61555332203505" target="_blank"><img
					src="../img/socials/facebook.svg" alt="Facebook" aria-label="Facebook" class="social-icon"><img
					src="../img/socials/facebook-hover.svg" class="social-icon-hover"></a>
			</p>
			<hr style="width: 10%; margin: 0 auto; margin-bottom: 4px;">
			<p>
				&copy; The TBFighters Project | <a href="privacy.html" class="footer-link">Privacy Policy</a>
			</p>
			<p class="too-small">
				
				We lead by following and we act with compassion. Get in touch: contact at tbfighters dot org
			</p>
		</footer>
</body>

</html>
