<!DOCTYPE html>

<html lang="en">

<head>
	<!--Meta tags-->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--Open Graph Tags-->
	<meta property="og:site_name" content="TBFighters" />
	<meta property="og:url" content="https://tbfighters.org" />
	<meta property="og:type" content="website" />
	<meta property="theme-color" content="#D7211E" />
	<!-- Style Tags -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet" />
	<link rel="stylesheet" href="../style.css" />
	<link rel="stylesheet" href="../libs/toastify/toastify.css">
	<link rel="icon" type="image/x-icon" href="../img/favicon.ico">
	<script src="../menu.js" defer></script>
	<script src="../libs/toastify/toastify.js"></script>
	<!-- Variable Tags -->
	<meta name="robots" content="index, follow" />
	<meta property="og:title" content="Letter Guide | TBFighters" />
	<meta property="og:image" content="img/og-image.jpg" />
	<meta property="og:description" content="Write letters to Danaher to tell them it is #TimeFor5" />
	<meta name="description" content="Fighting for accessible tuberculosis testing and treatment to save over a million lives a year. Take action with us now." />

	<link rel="stylesheet" href="../docs.css?q=2" />
	<link rel="stylesheet" href="../actions.css?q=2" />
	<script src="../header-link.js" defer></script>
	<title>Letter Guide | TBFighters</title>
</head>

<body class="letterguide">
	<!--BELOW THIS GETS COPIED TO ALL PAGES WHEN MENU CHANGES (CHANGE BODY CLASS TO PAGE NAME)-->
	<header id="site-head"><a href="#main" class="skip">Skip to main content</a>
		<div class="wrapper-head">
			<h1 class="page-title">
				<a href="../index.html"><span class="black-highlight">TB</span>FIGHTERS</a>
			</h1>
			<a id="hamburger-button" href="#" title="menu"></a>
			<nav class="site-menu">
				<ul class="active">
					<li><a href="../about.html">About Us</a></li>
					<li><a href="../timeline.html">News &amp; Timeline</a></li>
					<li><a href="../resources.html">Resources</a></li>
					<li><a href="../action.html">Take Action</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!--ABOVE THIS GETS COPIED TO ALL PAGES MENU CHANGES-->
	<main id="main">
		<main id="main">
			<section>
				<br>
				<nav class="table-of-contents">
					<h3>Table Of Contents</h3>
					<ul>
						<li><a href="#irl-letters"><b>Instructions for IRL Letters</b></a></li>
						<li><a href="#letter-templates"><b>Letter Templates</b></a>
							<ul>
								<li><a href="#letter-template-1"><b>Option 1</b></a>
								</li>
								<li><a href="#letter-template-2"><b>Option 2</b></a>
								</li>
							</ul>

						</li>
					</ul>
				</nav>
				<br>
				<h2 id="irl-letters">
					Instructions for IRL Letters
					<div class="header-copy"><noscript><a href="#irl-letters"></a></noscript></div>
				</h2>
				<em>
					If you can’t send a letter, we can send it for you! Just fill out this <a
						href="https://tbfighter.link/letter-service" target="_blank">form</a>.
				</em>
				<br>
				<br>
				<p>Here's some instructions for help with sending your letter!</p>
				<ol>
					<li>
						<b>Write your letter.</b>
						<br>
						<ol type="a">
							<li>
								You can choose to write a formal business letter based
								off of
								one of our templates and print it, write a handwritten
								letter,
								or get creative with a card or drawing.
							</li>
							<li>We hope that Danaher will read at least some of our letters,
								but
								can’t be sure. However, we’d love for you to share what
								you
								write on social media! If you are, remember to take a
								picture
								before you seal your envelope in the next step.</li>
						</ol>
					</li>
					<li><b>Put your letter in an envelope.</b>
						<ol type="a">
							<li>
								You can usually buy envelopes at the post office or
								office
								supply store, but most grocery stores and drug stores
								will have
								options as well. Envelopes typically aren’t sold
								individually,
								so check to see if you have one at home if you don’t
								want to end
								up with a box.
							</li>
							<li>Neatly fold your letter and seal it in the envelope.</li>
						</ol>
					</li>
					<li>
						<b>Address your envelope.</b>
						<ol type="a">
							<li>
								<p>To address your letter to Danaher’s board write this
									on the
									front of your envelope (the side without a flap)
									in the
									center:</p>
								<div class="block">
									<p>c/o Corporate Secretary</p>
									<p>Danaher Corporation</p>
									<p>2200 Pennsylvania Avenue, N.W.</p>
									<p>Suite 800W</p>
									<p>Washington, D.C. 20037-1701</p>
									<p>USA</p>
								</div>

							</li>
							<li>
								<p>If you'd like to address it to an individual member
									of the
									board, here’s some important members you can
									pick from.
									Add your selection on top of the line “c/o
									Corporate
									Secretary” in the address above.</p>
								<ol type="i">
									<li><a href="https://investors.danaher.com/board-of-directors?item=7"
											target="_blank">Rainer
											Blair</a> President and CEO of
										Danaher,
										whose pay has more than doubled since
										2020, now
										at $20 million per year.</li>
									<li>The founders, <a
											href="https://investors.danaher.com/board-of-directors?item=19"
											target="_blank">Steven</a>
										and <a href="https://investors.danaher.com/board-of-directors?item=18"
											target="_blank">Mitchell</a>
										Rales</li>
									<li>
										Other members of the board: Dr. Pardis
										Sabeti
										(past Crash Course host), Dr. Jessica
										Mega,
										Professor Raymond Stevens, and Dr. Elias
										Zerhouni (former Gates Foundation
										fellow).
									</li>
								</ol>
							</li>
						</ol>
						<h4 id="example-letter">
							Example Letter
							<div class="header-copy"><noscript><a
										href="#example-letter"></a></noscript>
							</div>
						</h4>
						<img src="../img/Danaher_Letter_EX.png" alt="An example letter."
							width="100%" class="letter" id="example-letter">
					</li>
					<li>
						<b>Optional: Add your return address.</b>
						<ol type="a">
							<li>Return addresses are not required for standard mail
								in the US. If you don’t want to use your
								address, feel free to omit it. We do recommend
								including a return address if you’re comfortable
								to make it seem more legitimate.</li>
							<li>
								<p>To add a return address, write it in the top left
									corner of
									the front of the envelope. Here’s the format for
									US
									addresses:</p>
								<div class="block">
									<p>Alexander Hamilton</p>
									<p>58 Partition Street</p>
									<p>New York, NY 10038</p>
									<br>
									<em>If you don’t know your zip code (10038 in
										this
										example), you can find it by googling
										the rest
										of your address.</em>
								</div>
							</li>
						</ol>
					</li>
					<li>
						<b>Add postage.</b>
						<ol type="a">
							<li>
								In the US, normal letter postage stamps (also called
								Forever
								Stamps) cost $0.73 right now. You can buy stamps at your
								local
								post office or <a
									href="https://store.usps.com/store/results/stamps/_/N-9y93lv?utm_medium=search&utm_source=google&utm_campaign=evergreenps&utm_content=e332_eese&gad=1"
									target="_blank">buy
									them online</a> from USPS. Stamps are also
								available at
								some grocery stores, gas stations, and pharmacies,
								usually at
								the register.
							</li>
							<li>A standard $0.73 forever stamp can mail up to one ounce, or
								about
								four sheets of paper plus an envelope. If you’re mailing
								more
								sheets or heavier paper, you may need additional
								postage. Ask
								for help at the Post Office counter.</li>
							<li>If you are mailing a letter from outside the US, you may
								need to buy
								an international stamp. Check your local postal service
								for
								details.</li>
							<li>Affix your stamp to the upper right corner of the front of
								the
								envelope.</li>
						</ol>
					</li>
					<li>
						<b>Mail your letter!</b>
						<ol type="a">
							<li>Option 1: If you live in a house with a mailbox at the curb,
								you can
								just put your letter in your mailbox and raise the flag.
							</li>
							<li>Option 2: If you live in an apartment building or shared
								housing
								complex, there may be an outgoing mail slot in the
								mailbox area.
							</li>
							<li>Option 3: Go to your local post office. Most will have a
								letter slot
								or dropbox you can use without talking to anyone. You
								can also
								walk up to the counter and ask for help.</li>
							<li>Option 4: Find a local USPS collection box by searching for
								your
								address <a
									href="https://tools.usps.com/find-location.htm?locationType=collectionbox&address=10020&searchRadius=1&fdbid=1001900018&latitude=40.76109&longitude=-73.9796&"
									target="_blank">here</a>.
							</li>
						</ol>
					</li>
					<li>
						<b>Optional: Post your letter on social media and tag Danaher.</b>
						<ol type="a">
							<li>Use the tag #PeopleOverProfits or #TimeFor5 in your post!
							</li>
						</ol>
					</li>
				</ol>
				<br>
				<br>
			</section>
			<section>
				<h2 id="letter-templates">
					Letter Templates
					<div class="header-copy"><noscript><a href="#letter-templates"></a></noscript>
					</div>
				</h2>
				<p>These templates are easiest to base your letters off if you're planning on printing
					them out.
					Feel free to keep handwritten letters shorter!</p>
				<br>
				<div id="name-popup-opts" class="popup" role="dialog">
					<div class="popup-content">
						<div class="popup-inner">
							<h4>Print Info</h4>
							<br>
							<form id="name-form" autocomplete="off">
								<label for="name">Name for signature (optional):</label>
								<br>
								<input type="text" id="name" name="name"
									placeholder="Dave Green">
								<br>
								<br>
								<label for="date">Date:</label>
								<input type="checkbox" id="date" name="date" checked>
								<br>
								<br>
								<button id="submit">Print</button>
							</form>
							<br>
						</div>
					</div>
					<button id="close"></button>
				</div>
				<article class="block">
					<h3 id="letter-template-1">Option 1
						<div class="header-copy"><noscript><a
									href="#letter-template-1"></a></noscript></div>
					</h3>
					<div id="option-1">
						<p class="date">[Date]</p>
						<p>To the Board of Directors, Danaher Corporation,</p>
						<br>
						<p>It has been over a year since you promised to conduct and release an
							accredited third-party audit of the costs of your GeneXpert TBletter
							tests. Independent research has shown that you can make a fair
							profit at $5.</p>
						<br>
						<p>Since the claimed cost of $7.97 per test differs from the previously
							published independent audit from MSF, the audit results are of
							particular interest to me. Millions of people continue to die of
							treatable diseases but your tests could help change that, if
							only those who need them most could afford them.</p>
						<br>
						<p>I am asking you to fulfill your commitment and publish the audit
							results. Transparency in the pricing structure is important, as
							any additional cost leads to preventable deaths. This is
							especially true for tests for drug-resistant tuberculosis, HIV,
							hepatitis, Ebola, and many other diseases, which are not yet
							sold at cost. </p>
						<br>
						<p>I look forward to seeing the results of the audit as well as your
							continued actions to make your products more accessible to those
							in need.</p>
						<br>
						<p>
							Regards,
						</p>
						<p class="name">[Your name]</p>
					</div>
					<br>
					<div class="buttons">
						<button id="copy-opt-1"
							onclick="onclickButton(formatElement(document.getElementById('option-1')))">Copy</button>
						<button id="print-opt-1">Print</button>
					</div>
					<noscript>
						<br>
						<p style="font-style: italic;">Please enable javascript to use the copy
							and
							print buttons.</p>
					</noscript>
					<script src="../actions.js"></script>
					<script>
						let popup = document.getElementById("name-popup-opts");
						let form = document.getElementById("name-form");
						let addPrintButton = registerPrintForm(form, popup);
						function replacePrint(form, doc) {
							if (document.getElementById("date").checked) {
								date = new Date().toISOString().slice(0, 10)
							} else {
								date = ""
							}
							doc.getElementsByClassName("date")[0].textContent = date;
							doc.getElementsByClassName("name")[0].textContent = document.getElementById("name").value;
						}
						addPrintButton(document.getElementById("print-opt-1"), document.getElementById("option-1").innerHTML, replacePrint)
					</script>
				</article>
				<br>
				<article class="block">
					<h3 id="letter-template-2">Option 2
						<div class="header-copy"><noscript><a
									href="#letter-template-2"></a></noscript></div>
					</h3>
					<div id="option-2">
						<p class="date">[Date]</p>
						<p>To the Board of Directors at Danaher Corporation,</p>
						<br>
						<p>I am very concerned about your choice to go back on the promise of an
							independent, third party audit that would show the production
							cost and price structure for Cepheid’s Xpert tests. Considering
							the independent estimate that the tests cost less than $4.50 to
							make, you have an interest in releasing an audit if the results
							support your claim. The only conceivable reason not to release
							the promised audit would be that the cost estimate is much lower
							than you would like to admit. This does not reflect well on your
							company, and I want you to know that this behavior is not going
							unnoticed.</p>

						<br>
						<p>I truly appreciate the great work you have done in creating these
							tests (using taxpayer funds) and respect your right to make a
							reasonable profit off of your work. I hope that you can continue
							to make great strides in improving health care outcomes in the
							future. I urge you to remember that human lives are on the line,
							and that every day that we wait, people die undiagnosed and
							untreated for illness because they cannot afford testing. </p>
						<br>
						<p>I urge you to do the right thing and be both truthful and accountable
							moving forward. To allow preventable human suffering and death
							in this way is unacceptable. If your mission statement and
							social media pages are to be believed, you care deeply about
							reducing this kind of suffering. I look forward to the timely
							release of your audit.</p>
						<br>
						<p>Regards,</p>
						<p class="name">[Your Name]</p>
					</div>
					<br>
					<div class="buttons">
						<button id="copy-opt-2"
							onclick="onclickButton(formatElement(document.getElementById('option-2')))">Copy</button>
						<button id="print-opt-2">Print</button>
					</div>
					<noscript>
						<br>
						<p style="font-style: italic;">Please enable javascript to use the copy
							and
							print buttons.</p>
					</noscript>
					<script>
						addPrintButton(document.getElementById("print-opt-2"), document.getElementById("option-2").innerHTML, replacePrint)
					</script>
				</article>
				<p class="larger"><a href="../action.html">More actions</a></p>
				<br>
			</section>
		</main>
		<footer class="site-foot">
			<p class="socials-wrapper-centered">
				<a href="https://x.com/tbfighters" target="_blank">
					<img src="../img/socials/twitter.svg" alt="Twitter" class="social-icon">
					<img src="../img/socials/twitter-hover.svg" alt="Twitter" class="social-icon-hover"></a>
				<a href="https://www.instagram.com/tbfighters" target="_blank">
					<img src="../img/socials/insta.svg" alt="Instagram" class="social-icon">
					<img src="../img/socials/insta-hover.svg" alt="Instagram" class="social-icon-hover"></a>
				<a href="https://www.youtube.com/@TB_Fighters" target="_blank"><img
						src="../img/socials/youtube.svg" alt="Youtube" class="social-icon"><img
						src="../img/socials/youtube-hover.svg" alt="Youtube" class="social-icon-hover"></a>
				<a href="https://www.facebook.com/profile.php?id=61555332203505" target="_blank"><img
						src="../img/socials/facebook.svg" alt="Facebook" class="social-icon"><img
						src="../img/socials/facebook-hover.svg" alt="Facebook" class="social-icon-hover"></a>
			</p>
			<hr style="width: 10%; margin: 0 auto; margin-bottom: 4px;">
			<p>
				&copy; The TBFighters Project | <a href="../privacy.html" class="footer-link">Privacy Policy</a>
			</p>
			<p class="too-small">

				We lead by following and we act with compassion. Get in touch: contact at tbfighters dot org
			</p>
		</footer>
</body>

</html>
