/*
 * CSS ONLY FOR THE INDEX PAGE
 * */

/* ===============
 * GENERAL
 * =============== */

.homepage .container {
    display: flex;
    padding: 60px 0;
    min-height: calc(100vh - 120px);
    justify-content: space-around;
    flex-direction: column;
    background-size: cover;
}

#top {
    padding: 3em 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#top h1 {
    text-transform: uppercase;
    font-size: 2.7em;
    margin-bottom: 1em;
}

#top .intro p {
    font-size: 1.5em;
    line-height: 1.3;
    margin: 0 1em;
}


@keyframes bob {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-15px);
    }

    100% {
        transform: translatey(0px);
    }
}

#top .scroll-arrow {
    width: 28px;
    filter: contrast(0.85);
    animation: bob 3s ease-in-out infinite;
    margin-top: 10vh;
}

/* Remove bobbing annimation for reduced motion */
@media (prefers-reduced-motion) {
    #top .scroll-arrow {
        width: 28px;
        filter: contrast(0.85);
        margin-top: 10vh;
    }
}

#top .fa-arrow-down:before {
    font-size: 3em;
    color: var(--fg);
}

#top img {
    max-height: 200px;
    margin-bottom: 1em;
}

#primer {
    background-image: url("../img/danaher/red-crystal.gif");
    background-attachment: fixed;
    background-position: left center;
}

#twist {
    background-image: url("../img/danaher/crystals.gif");
    background-attachment: fixed;
    background-position: center;
}

#danaher {
    background-image: url("../img/danaher/lungs.gif");
    background-attachment: fixed;
    background-position: right center;
}

#profits {
    background-image: url("../img/danaher/money.gif");
    background-attachment: fixed;
    background-position: left center;
}

#join li {
    list-style-image: url(../img/check-solid.svg);
}

#join {
    background-image: url("../img/danaher/helix.png");
    background-attachment: fixed;
    background-position: left center;
}

/* MOBILE STYLES */

@media only screen and (max-width: 900px) {
    #top img {
        max-width: 150px;
    }
}

@media only screen and (max-width: 768px) {
    #top img {
        align-self: center;
        max-width: 100px;
    }
}

@media only screen and (max-width: 650px) {
    #top h1 {
        font-size: 3em;
        margin-bottom: 0.6em;
    }

    #join li {
        font-size: 1.5em;
    }

    #join p.larger,
    #join li.larger,
    #join strong.larger {
        font-size: 1.75em;
    }
}

/* ==== END OF GENERAL ==== */

/* ===============
   SOCIAL MEDIA POSTS
   =============== */

.post {
    display: flex;
    flex-direction: column;

    margin: 0 5px 0.6em;
    padding: 20px;
    padding-bottom: 5px;
    border: 2px solid var(--bg2);
    font-size: 20px;
    line-height: 1.1;
    color: var(--fg);
    font-family: "Atkinson Hyperlegible";
    resize: none;
}

.post p:first-child {
    margin-bottom: 0;
}

.post p:nth-child(2) {
    font-size: 0.7em;
}

.post div {
    margin-top: auto;
}

.post button,
.post .button,
.post-gallery button,
.post-gallery .button {
    font-size: 0.7em;
}

/* POST GALLERY */
.wrapper-columns .post {
    width: 33.33%;
    /* padding-bottom: 1em; */
}

.post-gallery {
    vertical-align: top;
    margin: 0.5em auto 1em;

    background-color: var(--bg2);
    padding: 10px 15px;
    margin-bottom: 0.4em;
    box-shadow: var(--aside-shadow);
}

.post-gallery div:first-child {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: 21em;
    justify-content: center;
}

.post-gallery div:nth-child(2) {
    width: 80%;
    max-width: 600px;
}

.post-gallery img {
    max-height: 20em;
    max-width: 100%;
    vertical-align: top;
    box-shadow: var(--aside-shadow);
}

/* MOBILE STYLES */

@media only screen and (max-width: 1320px) {
    .post p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 900px) {
    .post-gallery img {
        max-width: 100%;
        padding: 0.33em;
    }

    .post-gallery div:nth-child(2) {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper-columns .post {
        width: inherit;
    }
}

/* ==== END OF SOCIAL MEDIA POSTS ==== */
