---json
{
"title": "TBFighters: Putting People Over Profits",
"description": "Fighting for accessible tuberculosis testing and treatment to save over a million lives a year. Take action with us now."
}
---
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta tags-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="robots" content="index, follow"/>
    <!--Open Graph Tags-->
    <meta property="og:site_name" content="TBFighters"/>
    <meta property="og:url" content="https://tbfighters.org"/>
    <meta property="og:image" content="/assets/img/og-image.jpg"/>
    <meta property="og:type" content="website"/>
    <meta property="theme-color" content="#D7211E"/>
    <!-- Style Tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{{'/assets/css/style.css' | rev }}"/>
    <link rel="stylesheet" href="{{'/assets/css/docs.css' | rev }}"/>
    <link rel="stylesheet" href="{{'/assets/css/actions.css' | rev }}"/>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
    <script src="/assets/lib/jquery-3.7.1.min.js"></script>
    <script src="{{'/assets/js/menu.js' | rev }}"></script>
    <!-- Variable Tags -->
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <script src="{{'/assets/js/actions.js' | rev }}"></script>
    <title>{{ title }}</title>
</head>
<body class="{{ bodyclass }}">
<header id="site-head"><a href="#main" class="skip">Skip to main content</a>
    <div class="wrapper-head">
        <h1 class="page-title">
            <a href="/index.html"><span class="black-highlight">TB</span>FIGHTERS</a>
        </h1>
        <a class="toggle-button" href="#" title="menu"></a>
        <nav class="site-menu">
            <ul class="active">
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/timeline.html">News &amp; Timeline</a></li>
                <li><a href="/resources.html">Resources</a></li>
                <li><a href="/action.html">Take Action</a></li>
            </ul>
        </nav>
    </div>
</header>
<main id="main">
    {{ content | safe }}
</main>
<footer class="site-foot">
    <p>
        &copy; The TBFighters Project | <a href="/privacy.html" class="footer-link">Privacy Policy</a>
    </p>
    {% if credit %}
    <p class="too-small">
        {{ credit }}
    </p>
    {% endif %}
    <p class="too-small">
        We lead by following and we act with compassion. Get in touch: contact at tbfighters dot org
    </p>
</footer>
</body>
</html>
